.five-stars {
  @include display-flex();

  :not(:last-child) {
    padding-right: 15px;
  }
  :last-child {
    padding-right: 7px;
  }

  .star {
    @include transform-origin(left, center);
    @include transform(scale(1.5));
    color: $color-theme;
  }

}
