<ion-view view-title="完善资料">
  <!--<div class="nav row">-->

  <!--<button class="button button-icon icon ion-compose" ng-click="vm.cb_edit()"></button>-->
  <!--<p class="text-center name color-white">{{vm.meInfo.remoteData.nickname}}</p>-->
  <!--<button class="button button-icon icon ion-gear-a" ng-click="vm.cb_setting()"></button>-->
  <!--</div>-->

  <ion-content class="info">

    <div class="top-panel">
      <img class="avatar" ng-src="{{vm.info.avatar}}"
           src="img/info/set-avatar.png"
           live-image on-click="vm.info.cb_avatar()">

      <p class="set-avatar">江湖上，有头有脸的才会留下传说..</p>
    </div>

    <ion-list class="ho-list">

      <!--<div class="ho-item ho-item-icon">-->
      <!--<i class="item-icon icon ho-person color-text-secondary"></i>-->
      <!--<div class="item-content">-->
      <!--<input class="input" type="text" ng-model="vm.info.name" placeholder="请问高姓大名">-->
      <!--</div>-->
      <!--<p class="right-long color-theme" ng-hide ng-show="vm.info.name.length > 6">6字以内</p>-->
      <!--</div>-->

      <!--<div class="ho-item ho-item-icon">-->
      <!--<i class="item-icon icon ho-gender-both color-text-secondary"></i>-->
      <!--<div class="item-content">-->
      <!--<p class="left-text">少侠or美女</p>-->
      <!--</div>-->
      <!--<i class="right icon ion-ios-arrow-right color-text-secondary"></i>-->
      <!--</div>-->

      <ho-tab-set class="ho-tabset ho-tabset-gray"
                  style="
                  border-width: 1px 0 0 0;
                  border-style: solid;
                  border-color: #ddd;
                  ">
        <ho-tab class="col-2" on-select="vm.info.onChangeTab(0)" style="font-size:14px;height:48px;">
          <span>少侠</span></ho-tab>
        <div style="height:48px; border-width:0 1px 0 0;border-style:solid;border-color:#ddd "></div>
        <ho-tab class="col-2" on-select="vm.info.onChangeTab(1)" style="font-size:14px;height:48px;">
          <span>美女</span></ho-tab>
      </ho-tab-set>

      <div class="school-panel" ng-click="vm.info.cb_school()">

        <p class="school-name">{{vm.info.schoolName}}</p>
        <i class="right icon ion-ios-arrow-right color-text-secondary school-arrow"></i>
      </div>

      <div style="padding:20px 10px 0px 10px">
        <button class="ho-button-block button-theme" ng-click="vm.info.cb_ok()">
          进入大侠拜托
        </button>
      </div>

    </ion-list>


  </ion-content>

</ion-view>
