# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/

# 屏蔽platforms下除了ios/helporz/Classes/的所有其他目录和文件
platforms/*
!/platforms/ios/
platforms/ios/*
!/platforms/ios/helporz/
platforms/ios/helporz/*
!platforms/ios/helporz/Classes/
!platforms/ios/helporz/Plugins/

!platforms/android
platforms/android/*
!platforms/android/src
!platforms/android/assets
!platforms/ios/platform_www/
!platforms/ios/www/
#!platforms/ios/platform_www/plugins/cordova-plugin-jmessage/www
#!platforms/ios/www/plugins/cordova-plugin-jmessage/www

plugins/*
!plugins/cordova-plugin-jmessage
#resources/android
#resources/ios

# scss tool cache
.sass-cache/
*.css.map
*.min.css

# temp file
.io-config.json

# idea
.idea/
