# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/

# 屏蔽platforms下除了ios/helporz/Classes/的所有其他目录和文件
platforms/*
!/platforms/ios/
platforms/ios/*
!/platforms/ios/helporz/
platforms/ios/helporz/*
!/platforms/ios/helporz/Classes/


plugins/
resources/android
resources/ios

# scss tool cache
.sass-cache/
*.css.map
*.min.css

# temp file
.io-config.json

# idea
.idea/
