<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.helporz.hybridapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>helporz</name>
  <description>
        An Ionic Framework and Cordova project.
    </description>
  <author email="hi@helporz.com" href="http://www.helporz.com/">
      pandaman
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="10000"/>
  <preference name="AndroidPersistentFileLocation" value="Internal"/>
  <preference name="iosPersistentFileLocation" value="Library"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" onload="true" value="CDVStatusBar"/>
  </feature>
  <platform name="android">
    <icon src="resources/icon.png"/>
    <splash src="resources/splash.png" density="xhdpi"/>
    <splash src="resources/splash.png" density="hdpi"/>
    <splash src="resources/splash.png" density="mdpi"/>
    <splash src="resources/splash.png" density="xxhdpi"/>
    <splash src="resources/splash.png" density="xxxhdpi"/>
  </platform>
  <platform name="ios">
    <icon src="resources/icon.png"/>
    <splash src="resources/splash.png"/>
    <splash src="resources/splash.png" density="xhdpi"/>
    <splash src="resources/splash.png" density="hdpi"/>
    <splash src="resources/splash.png" density="mdpi"/>
    <splash src="resources/splash.png" density="xxhdpi"/>
    <splash src="resources/splash.png" density="xxxhdpi"/>
  </platform>
  <plugin name="cordova-sqlite-storage" spec="~0.8.2"/>
  <plugin name="cordova-plugin-wechat" spec="~1.1.3">
    <variable name="WECHATAPPID" value="wx83baa5a0812afb2c"/>
  </plugin>
  <plugin name="cordova-plugin-device" spec="~1.1.1"/>
  <plugin name="cordova-plugin-dialogs" spec="~1.2.0"/>
  <plugin name="cordova-plugin-statusbar" spec="~2.1.2"/>
  <plugin name="cordova-plugin-jmessage" spec="https://github.com/jpush/jmessage-phonegap-plugin.git">
    <variable name="APP_KEY" value="111a4caa0fbbc9a1334d0d3a"/>
  </plugin>
</widget>