<ion-view view-title="评价" class="comment">


  <ion-content class="has-header">

    <div class="top-panel">

      <div class="star-panel">
        <p class="name1"> 整体评价: </p>

        <five-stars value="vm.starScore"></five-stars>

      </div>

      <div class="div-line"></div>

      <div class="impress-select-panel">
        <i class="name2">印象评价:</i>
        <button ng-repeat="item in vm.impress" class="impress-button {{item.className}}" ng-click="vm.cb_impressDiselect($index)">{{item.text}}>
          <i class="icon ion-close-circled close"></i>
        </button>
        <!--<button class="impress-button impress-1">热情-->
          <!--<i class="icon ion-close-circled close"></i>-->
        <!--</button>-->
        <!--<button class="impress-button impress-1">热情-->
          <!--<i class="icon ion-close-circled close"></i>-->
        <!--</button>-->
      </div>

      <div class="impress-panel">
        <button class="impress-button impress-1" ng-click="vm.cb_impressSelect(1)">热情</button>
        <button class="impress-button impress-2" ng-click="vm.cb_impressSelect(2)">高冷</button>
        <button class="impress-button impress-3" ng-click="vm.cb_impressSelect(3)">可爱</button>
        <button class="impress-button impress-4" ng-click="vm.cb_impressSelect(4)">有趣</button>
      </div>
      <div class="impress-panel">
        <button class="impress-button impress-5" ng-click="vm.cb_impressSelect(5)">耐心</button>
        <button class="impress-button impress-6" ng-click="vm.cb_impressSelect(6)">迅速</button>
        <button class="impress-button impress-7" ng-click="vm.cb_impressSelect(7)">细心</button>
        <button class="impress-button impress-8" ng-click="vm.cb_impressSelect(8)">爽快</button>
      </div>
      <div class="impress-panel">
        <button class="impress-button impress-9" ng-click="vm.cb_impressSelect(9)">马虎</button>
        <button class="impress-button impress-10" ng-click="vm.cb_impressSelect(10)">小气</button>
        <button class="impress-button impress-11" ng-click="vm.cb_impressSelect(11)">拖沓</button>
        <button class="impress-button impress-12" ng-click="vm.cb_impressSelect(12)">暴躁</button>
      </div>

    </div>

    <div class="comment-panel">
      <textarea placeholder="吐槽表白随你便" ng-model="vm.commentText"></textarea>
    </div>

    <div class="padding">
      <button class="ho-button-block button-theme" ng-click="vm.submit()">
        提交
      </button>
    </div>

  </ion-content>
</ion-view>
