<ion-view hide-nav-bar="true">

  <style type="text/css">
    .col-60 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      max-width: 60%;
    }

    .col-offset-5 {
      margin-left: 5%;
    }
  </style>

  <ion-content class="no-header  login-page" overflow-scroll="true" style="overflow: hidden" ng-controller="loginCtrl">

    <div class="login-title-wrap">
      <div class="login-title">
        <!--<h1>大侠拜托</h1>-->
        <img src="./img/login/login-log.png">
      </div>
    </div>

    <div class="login-group-wrapper">
      <div class="login-group-item login-group-item-input no-border">
        <img class="icon" src="./img/login/phone.png"/>
        <input class="col-80" type="text" placeholder="请输入手机号码" ng-model="phoneno"/>
        <getsmscode></getsmscode>
      </div>
      <div class="split"></div>
      <div class="login-group-item login-group-item-input no-border">
        <img class="icon" src="./img/login/key.png"/>
        <input class="col-80" type="text" placeholder="请输入验证码" ng-model="smscode"/>
      </div>
    </div>

    <!--<div class="group-wrapper">-->
    <!--<div class="group-item">-->
    <!--<label class="item item-input no-border ">-->
    <!--<img class="icon" src="./img/login/dengru-phone-n@2x.png"/>-->
    <!--&lt;!&ndash;<input class="col-80" type="text" placeholder="请输入手机号码"/>&ndash;&gt;-->
    <!--<getsmscode/>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="group-wrapper">-->
    <!--<div class="group-item" ng-controller="loginCtrl">-->
    <!--<label class="item item-input no-border ">-->
    <!--<img class="icon" src="./img/login/dengru-phone-n@2x.png"/>-->
    <!--<input class="col-80" type="text" placeholder="请输入手机号码"/>-->
    <!--&lt;!&ndash;<getsmscode/>&ndash;&gt;-->
    <!--&lt;!&ndash;<button ng-click='dynamicLogin(event,type)' class="button button-small" style="background-color:#FB9494; color: #ffffff;">发送验证码</button>&ndash;&gt;-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="split"></div>-->
    <!--<div class="group-item">-->
    <!--<label class="item item-input no-border">-->
    <!--<img class="icon" src="./img/login/dengru-key-n@2x.png"/>-->
    <!--<input class="col-80"  type="text" placeholder="请输入验证码"/>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->


    <div class="row">
      <button class="button button-login button-full" ng-click="submitLogin(event)">快捷登录</button>
    </div>
    <div class="row">
      <div class="col-offset-5">
        <input type="checkbox">
      </div>
      <p class="col-offset-5" style="color:#fff">看过并同意<a style="color:#fff" href="#/user/proto">《用户使用协议》</a></p>
    </div>


    <div style="position:absolute; bottom:0px;width:100%;">
      <img style="width:100%" src="./img/login/login-footer.png">
    </div>
  </ion-content>
</ion-view>
