<ion-view hide-nav-bar="true">

  <style type="text/css">

    .login-title-wrap {
      width: 100%;
      height: 160px;
      height: 30%;
      display: table;
    }

    .login-title {
      display: table-cell;
      width: 100%;
      vertical-align: middle;
      text-align: center;
    }

    .login-title img {
      width: 80px;
    }

    .group-wrapper {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-border-radius: 4px;
      border-radius: 4px;
      padding-right: 8px;
      padding-left: 8px;
      background: #fff;
      margin-left: 5px;
      margin-right: 5px;
    }

    .group-wrapper > .no-border {
      border-style: none;
    }

    .group-item {
      /*margin-left: 10px;*/
      /*margin-right: 10px;*/
      border-color: #ddd;
      background-color: #fff;
      color: #444;
      position: relative;
      z-index: 2;
      display: block;
      margin: -1px;
      padding: 16px;
      border-width: 1px;
      border-style: solid;
      font-size: 16px;
    }

    .group-item-input {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      padding: 6px 0 5px 16px;
    }

    .group-item-input input {
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-flex: 1;
      -webkit-flex: 1 220px;
      -moz-box-flex: 1;
      -moz-flex: 1 220px;
      -ms-flex: 1 220px;
      flex: 1 220px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
      padding-right: 24px;
      background-color: transparent;
    }

    /*.group-item {*/

    /*}*/

    .group-item .icon {
      max-width: 10px;
      max-height: 15px;
      margin-left: -10px;
      margin-right: 10px;
    }

    .login-page .button-login {
      background-color: #F9E9AD;
      border-radius: 4px;
      color: #F55E5E;
    }

    .group-item > .no-border {
      border-style: none;
    }

    .group-wrapper > .split {
      border-bottom: 1px solid #ddd;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .col-60 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 60%;
      -moz-box-flex: 0;
      -moz-flex: 0 0 60%;
      -ms-flex: 0 0 60%;
      flex: 0 0 60%;
      max-width: 60%;
    }

    .col-offset-5 {
      margin-left: 5%;
    }
  </style>

  <ion-content class="no-header  login-page" overflow-scroll="true" style="overflow: hidden" ng-controller="loginCtrl">

    <div class="login-title-wrap">
      <div class="login-title">
        <!--<h1>大侠拜托</h1>-->
        <img src="./img/login/login-log.png">
      </div>
    </div>

    <div class="group-wrapper">
      <div class="group-item group-item-input no-border">
        <img class="icon" src="./img/login/phone.png"/>
        <input class="col-80" type="text" placeholder="请输入手机号码" ng-model="phoneno"/>
        <getsmscode></getsmscode>
      </div>
      <div class="split"></div>
      <div class="group-item group-item-input no-border">
        <img class="icon" src="./img/login/key.png"/>
        <input class="col-80" type="text" placeholder="请输入验证码" ng-model="smscode"/>
      </div>
    </div>

    <!--<div class="group-wrapper">-->
    <!--<div class="group-item">-->
    <!--<label class="item item-input no-border ">-->
    <!--<img class="icon" src="./img/login/dengru-phone-n@2x.png"/>-->
    <!--&lt;!&ndash;<input class="col-80" type="text" placeholder="请输入手机号码"/>&ndash;&gt;-->
    <!--<getsmscode/>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="group-wrapper">-->
    <!--<div class="group-item" ng-controller="loginCtrl">-->
    <!--<label class="item item-input no-border ">-->
    <!--<img class="icon" src="./img/login/dengru-phone-n@2x.png"/>-->
    <!--<input class="col-80" type="text" placeholder="请输入手机号码"/>-->
    <!--&lt;!&ndash;<getsmscode/>&ndash;&gt;-->
    <!--&lt;!&ndash;<button ng-click='dynamicLogin(event,type)' class="button button-small" style="background-color:#FB9494; color: #ffffff;">发送验证码</button>&ndash;&gt;-->
    <!--</label>-->
    <!--</div>-->
    <!--<div class="split"></div>-->
    <!--<div class="group-item">-->
    <!--<label class="item item-input no-border">-->
    <!--<img class="icon" src="./img/login/dengru-key-n@2x.png"/>-->
    <!--<input class="col-80"  type="text" placeholder="请输入验证码"/>-->
    <!--</label>-->
    <!--</div>-->
    <!--</div>-->


    <div class="row">
      <button class="button button-login button-full" ng-click="submitLogin(event)">快捷登录</button>
    </div>
    <div class="row">
      <div class="col-offset-5">
        <input type="checkbox">
      </div>
      <p class="col-offset-5" style="color:#fff">看过并同意<a style="color:#fff" href="#/user/proto">《用户使用协议》</a></p>
    </div>


    <div style="position:absolute; bottom:0px;width:100%;">
      <img style="width:100%" src="./img/login/login-footer.png">
    </div>
  </ion-content>
</ion-view>
