<div style="
            background-color:#ef473a;
            color:white;
            top: 4%;
            right:calc(50% - 26px);
            padding:1px 6px;
            height:auto;
            font-size:11px;
            line-height:16px;
            z-index: 1;
            min-width:10px;
            border-radius:10px;
            vertical-align:baseline;
            text-align:center;
            white-space:nowrap;
            font-weight:bold;


            position:relative;
            display:table-footer-group;
            margin-left: 5px;
            ">{{count}}</div>
