<ion-modal-view>
  <style type="text/css">
    .task-select-wrap {
      height: 80%;
      display: table;
      width: 100%;
    }

    .task-title-panel {
      height: 100px;
      text-align: center;
      display: table-row;
      vertical-align: middle;
    }
    .task-title-panel .task-title {
      font-size: 22px;
      position: relative;
      bottom: -100px;
      color: #333;
    }
    .task-title-panel .task-title-img {
      /*font-size: 22px;*/
      position: relative;
      bottom: -100px;
      /*color: #333;*/
      /*width: 100px;*/
      height: 60px;
    }

    .task-select {
      width: 100%;
      display: table-cell;
      vertical-align: middle;
    }

    .task-select .task {
      text-align: center;
      position: relative;
      top: 50px;
    }
    .task-select .task p {
      margin: 10px 0;
    }

    .task-select .task > img {
      text-align: center
    }

    .task-select .task > img {
      width: 80px
    }

    .task-the-next {
      width: 100%;
      letter-spacing: 8px;
      text-align: center;
    }

    .task-the-next > img {
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
    }

    .cancel-button {
      width: 100%;
      text-align: center;
    }

    .cancel-button > img {
      width: 40px;
      height: 40px;
      text-align: center;
      vertical-align: middle;
    }
    .cancel-button > button {
      background-color: transparent;
    }
    .cancel-button > button:before {
      font-size: 46px !important;
      color: #b7b7b7 !important;
    }
    .cancel-button > button.activated {
      background-color: transparent;
    }
  </style>

  <ion-content class="no-header" overflow-scroll="true" style="overflow: hidden;"
               ng-controller="taskPublishListController as ctl">
    <div class="task-select-wrap">
      <div class="task-title-panel">
        <!--<p class="task-title">召唤大侠</p>-->
        <img class="task-title-img" src="img/task/publish/publish-title-fly.png">
      </div>
      <div class="task-select">
        <div class="row">
          <div class="col col-33 task">
            <img src="./img/task/publish/shaodai.png" ng-click="ctl.publishShaodai()">

            <p>捎带侠</p>
          </div>
          <div class="col col-33 task">
            <img src="./img/task/publish/qingbao.png" ng-click="ctl.publishQingbao()">

            <p>情报侠</p>
          </div>

          <div class="col col-33 task">
            <img src="./img/task/publish/jiebao.png" ng-click="ctl.publishJiebao()">

            <p>借宝侠</p>
          </div>
        </div>

      </div>

    </div>



    <div class="row">
      <p class='task-the-next'><img src="./img/task/publish/the-next.png"> 占位侠即将登场</p>
    </div>
    <div class="row">
      <div class="cancel-button">
        <!--<img src="./img/task/publish/cancel.png" ng-click="ctl.cancel()">-->
        <button class="button icon ion-ios-close-outline" ng-click="ctl.cancel()"></button>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
