<ion-popover-view  id="task-publish-success-popup" >
  <!--<ion-header-bar>-->
  <!--<h1 class="title">My Popover Title</h1>-->
  <!--</ion-header-bar>-->
  <div class="bg"></div>
  <ion-content class="content">
    <div>
      <div class="img-panel">
        <img src="img/task/publish/fabuchenggong@2x.png" ng-click="share()">
      </div>
      <p class="title">发布成功</p>

      <p class="desc">小伙伴中卧虎藏龙，谁会是拯救你的萌面大侠？</p>

      <p class="desc2">召唤他们！</p>

      <div class="bt-panel">
        <div class="bt-1-panel">
          <img class="bt-1" src="img/task/publish/wechat-at.png" ng-click="share(0)">
          <p class="bt-desc">微信</p>
        </div>
        <div class="bt-2-panel">
          <img class="bt-2" src="img/task/publish/wechat-friends.png" ng-click="share(1)">
          <p class="bt-desc">朋友圈</p>
        </div>
      </div>

      <div class="cancel-panel">
        <button class="cancel icon ion-ios-close-outline" ng-click="close()"></button>
      </div>
    </div>
  </ion-content>
</ion-popover-view>



