<ion-modal-view class="task-publish" ng-controller="taskPublishController as ctl">

  <ion-header-bar align-title="center" class="task-publish-default bgcolor-bg ">
  <!--<ion-header-bar align-title="center" class="task-publish-default bgcolor-bg bgcolor-theme">-->
    <div class="buttons">
      <button class="button icon ion-android-close bgcolor-bg header-button" style="" ng-click="ctl.closeModal()">
      </button>
    </div>

    <div class="title tp-title col-center">召唤{{publishTaskTypeName}}</div>

    <div class="buttons">
      <button class="button icon ho-bulb bgcolor-bg header-button" style="" ng-click="ctl.cb_gotoLearnPublish()">
      </button>
    </div>

  </ion-header-bar>
  <ion-content class="color-task-publish" overflow-scroll="false" style="overflow: hidden;">
    <div class="task-group-wrapper">
      <!--<div class="row group-item group-item-input no-border left-align">-->
      <div class="tp-row-1">
        <!--<img class="type-icon" ng-src="{{taskLogo}}"/>-->

        <div class="left-align type-title">求助:</div>

        <!--<div class="mid-bt-panel">-->
          <!--<button class="mid-bt button icon-right ion-chevron-down button-select-subtype"-->
                  <!--ng-click="ctl.selectSubTaskType()" value="{{selectedSubTask.type}}">-->
            <!--{{selectedSubTask.name}}-->
          <!--</button>-->
        <!--</div>-->

        <img class="type-icon" ng-show="selectedSubTask!=null" ng-src="{{selectedSubTask.icon}}"/>

        <div ng-show="selectedSubTask!=null" class="type-txt">{{selectedSubTask.name}}</div>
        <div ng-show="selectedSubTask==null" class="type-txt">请选择类别</div>

        <div class="right-bt" ng-click="ctl.selectSubTaskType()">求助类别</div>

      </div>

      <div class="left-align split"></div>

      <div class="row group-item group-item-input no-border left-align">
        <textarea placeholder="{{selectedSubTask.holder}}" ng-model="ctl.summary"/></textarea>
      </div>

      <div class="left-align  split"></div>

      <div class="row group-item group-item-input no-border left-align" ng-if="taskTypeIndex!=1">
        <!--<img class="icon" src="./img/login/phone.png"/>-->
        <div class="icon ho-location color-text-secondary font-size-17" style="margin:0 0 0 -1px;"/>
        <input class="col-80" type="text" placeholder="你希望对方在哪里与你碰头" ng-model="ctl.pubLocation"/>
      </div>

      <div class="left-align  split" ng-if="taskTypeIndex!=1"></div>

      <div class="row group-item group-item-input no-border left-align" >
        <div class="icon ho-alert-clock color-text-secondary font-size-15" style="margin: 0 1px 0 1px"/>
        <input class="col-80" type="text" placeholder="{{taskTypeIndex==2?'起借时间': '截止时间'}}" ng-model="ctl.deadlineShow"
               ng-click="ctl.setDeadline($event)" required readonly/>
      </div>

      <div class="left-align  split"  ng-show="taskTypeIndex == 2"></div>

      <div class="row group-item group-item-input no-border left-align" ng-show="taskTypeIndex==2">
        <!--<img class="icon" src="./img/login/phone.png"/>-->
        <div class="icon ho-alert-clock color-text-secondary font-size-15" style="margin: 0 1px 0 1px"/>
        <input class="col-80" type="text" placeholder="归还时间" ng-model="ctl.returnTimeShow"
               ng-click="ctl.setReturnTime($event)" required readonly/>
      </div>

    </div>

    <div class="big-split"  style="margin-top: 1px;"></div>

    <div class="task-group-wrapper">
      <div class="left-align row reward-header">
        <div class="col-center">感谢方式</div>
      </div>


      <div class="split left-align"></div>
      <div class="row group-item group-item-input no-border left-align">
        <div class="col col-20 desc-title">请客</div>
        <button class="col col-20 button tag"
                ng-class="{true:'tag-activated',false:''}[ctl.selectedRewardType == '1' && ctl.selectedSubRewardType == '1']"
                ng-click="ctl.setRewardType(1,1)">一杯饮料
        </button>
        <button class="col col-20 button tag"
                ng-class="{true:'tag-activated',false:''}[ctl.selectedRewardType == '1' && ctl.selectedSubRewardType == '2']"
                ng-click="ctl.setRewardType(1,2)">一份零食
        </button>
        <button class="col col-20 button tag"
                ng-class="{true:'tag-activated',false:''}[ctl.selectedRewardType == '1' && ctl.selectedSubRewardType == '3']"
                ng-click="ctl.setRewardType(1,3)">一个水果
        </button>
      </div>
      <div class="row group-item group-item-input no-border left-align">
        <div class="col col-20 desc-title">人情卡</div>
        <button class="col col-33 button tag"
                ng-class="{true:'tag-activated',false:''}[ctl.selectedRewardType == '2' && ctl.selectedSubRewardType == '1']"
                ng-click="ctl.setRewardType(2,1)">欠一份人情
        </button>
        <button class="col col-33 button tag"
                ng-class="{true:'tag-activated',false:''}[ctl.selectedRewardType == '2' && ctl.selectedSubRewardType == '2']"
                ng-click="ctl.setRewardType(2,2)">欠一份大人情
        </button>
      </div>

      <div class="padding" style="padding-top: 20px">
        <button class="ho-button-block button-theme" ng-click="ctl.publish()">
          发布求助
        </button>

        <!--<button class="ho-button-block button-weak-gray margin-top" ng-click="ctl.closeModal()">-->
        <!--取消-->
        <!--</button>-->
      </div>

    </div>

    <!--<div class="row task-publish-default">-->
    <!--<button class="button button-full" ng-click="ctl.publish()">-->
    <!--发布-->
    <!--</button>-->
    <!--</div>-->


  </ion-content>
</ion-modal-view>
