<ion-view class="topic-group">
  <!--<ion-nav-bar class="bar-helporz-theme topic-group">-->
  <!--&lt;!&ndash;<ion-nav-back-button>&ndash;&gt;-->

  <!--&lt;!&ndash;</ion-nav-back-button>&ndash;&gt;-->
  <!--</ion-nav-bar>-->
  <ion-nav-title class="title title-center header-item">
    <div style="height: 100%">
      我的主题
    </div>
  </ion-nav-title>
  <ion-content class="has-header rj-stable-content" id="message-detail-content">
    <ion-list class="user-topic topic-detail">
      <ion-item ng-repeat="topic in vm.topicList" class="topic-item" ng-click="vm.go2TopicDetail(topic)">
        <!--<div class="row">-->

          <!--<div class="col col-20  col-center">-->
            <!--<img class="user-logo" ng-src="{{item.poster.avatar}}">-->
          <!--</div>-->

          <!--<div class="col col-center col-66">-->
            <!--<p class="title-header">-->
              <!--<span>{{item.poster.nickname}}</span> <img class="gender-logo"-->
                                                         <!--ng-src="img/user/gender-{{item.poster.gender}}.png">-->
            <!--</p>-->

            <!--<p class="title-desc">-->
              <!--{{item.created|DateShow}} 来自 {{item.poster.orgList[0].name}}-->
            <!--</p>-->
          <!--</div>-->
          <!--<div class="col  icon ion-chevron-down col-top" style="text-align:center" ng-click="vm.moreOpt(item)"></div>-->
        <!--</div>-->

        <!--<div class="row content-wrap">-->
          <!--<p ng-bind-html="item.content" class="auto-wrap"></p>-->

        <!--</div>-->
        <!--<div class="row content-wrap" ng-if="item.imgList != null || item.imgList != ''">-->
          <!--<img class="topics bottom-bordered" ng-repeat="imgSrc in item.imgList"-->
               <!--ng-src="{{imgSrc}}" ng-click="vm.showImgs(item.imgList)">-->
        <!--</div>-->

        <div class="row">

          <div class="avatar">
            <img class="user-logo" ng-src="{{topic.poster.avatar}}" ng-click="vm.cb_gotoUser(topic.poster.userId)">
          </div>

          <div class="user-info-panel">
            <div class="line-1">
              <span class="name" style="white-space:nowrap;">{{topic.poster.nickname}}</span>

              <div class="gender" style="padding-left: 0;padding-right:0;">
                <span class="gender-icon  font-size-13"
                      ng-class="{false:'ho-gender-female color-woman',true:'ho-gender-male color-man '}[topic.poster.gender == 1]">
                </span>
              </div>
              <div class="topic-impress-panel">
                <div class="impress-panel" ng-repeat="item in topic.poster.ui_tags">
                  <p class="elem text-tag toggle-on {{item.className}}">{{item.text}}</p>
                </div>
              </div>
            </div>

            <div class="title-desc" style="">
              {{topic.created|DateShow}} 来自 {{topic.poster.orgList[0].name}}
            </div>
          </div>

        </div>

        <div class="div-line"></div>

        <!--<div class="row content-tag-wrap"-->
             <!--ng-if="topic.tagInfoList != null && topic.tagInfoList.length > 0">-->
          <!--<div class="content-tag" ng-repeat="tag in topic.tagInfoList"> #{{tag.name}}#</div>-->
        <!--</div>-->
        <p class="content-tag" ng-if="topic.tagInfoList != null && topic.tagInfoList.length > 0">{{topic.tagInfoList | TagConnector}}</p>

        <div class="content-wrap">
          <p ng-bind-html="topic.content" class="auto-wrap font-size-14"></p>

        </div>

        <div class="row content-wrap" ng-if="topic.imgList != null && topic.imgList.length == 1 ">
          <img class="big-pic blank-right blank-bottom blank-top"
               ng-src="{{topic.imgList[0]}}" ng-click="vm.showImgs(topic.imgList,$event)">
        </div>

        <div class="row content-wrap" ng-if="topic.imgList != null && topic.imgList.length == 2 ">
          <img class=" mid-pic blank-right blank-bottom blank-top" ng-repeat="imgSrc in topic.imgList"
               ng-src="{{imgSrc}}" ng-click="vm.showImgs(topic.imgList,$event)">
        </div>

        <div class="row content-wrap" ng-if="topic.imgList != null && topic.imgList.length == 3 ">
          <img class=" mini-pic blank-right blank-bottom blank-top" ng-repeat="imgSrc in topic.imgList"
               ng-src="{{imgSrc}}" ng-click="vm.showImgs(topic.imgList,$event)">
        </div>

        <div class="row content-wrap" ng-if="topic.imgList != null && topic.imgList.length == 4 ">
          <div class="col">
            <div class="row ">
              <img class="mini-pic  blank-right blank-bottom blank-top"
                   ng-src="{{topic.imgList[0]}}" ng-click="vm.showImgs(topic.imgList,$event)">
              <img class="mini-pic  blank-right blank-bottom blank-top"
                   ng-src="{{topic.imgList[1]}}" ng-click="vm.showImgs(topic.imgList,$event)">
            </div>
            <div class="row ">
              <img class="mini-pic  blank-right blank-bottom blank-top"
                   ng-src="{{topic.imgList[2]}}" ng-click="vm.showImgs(topic.imgList,$event)">
              <img class="mini-pic  blank-right blank-bottom blank-top"
                   ng-src="{{topic.imgList[3]}}" ng-click="vm.showImgs(topic.imgList,$event)">
            </div>
          </div>
        </div>


        <div class="row button-list-wrap">
          <div class="col col-33 button-wrap">
            <button class="button button-small icon ho-chat-0"
                    ng-click="vm.go2TopicDetail(topic)">
              {{topic.commentCount}}
            </button>
            <!--<button class="button button-small icon ion-ios-chatboxes-outline"-->
            <!--ng-if="item.commentCount == 0 "></button>-->
          </div>

          <div class="col col-33 button-wrap">
            <button class="button button-small icon "
                    ng-class="{true:'ion-ios-heart',false:'ion-ios-heart-outline '}[topic.isFavourite == true]"
                    ng-click="vm.favouriteToggle(topic,$event)" style="">
              {{topic.favouriteCount}}
            </button>

            <!--<button class="button button-small icon " style="color: black"-->
            <!--ng-if="vm.isFavourite(item.id) == false" ng-click="vm.favourite(item.id)">-->
            <!--{{item.favouriteCount}}-->
            <!--</button>-->
          </div>
          <div class="col col-33 button-wrap">
            <button class="button button-small icon ho-share" ng-click="vm.shareTopic(topic,$event)">分享
            </button>
          </div>


        </div>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll ng-if="vm.moreDataCanBeLoaded()" on-infinite="vm.loadMoreTopicList()"
                         distance="1%"></ion-infinite-scroll>
  </ion-content>

</ion-view>

