<style type="text/css">
  /*.topic-publish-wrap {*/
  /*background-color: #D2E0E6;*/
  /*margin: 0px;*/
  /*}*/

  /*.topic-publish-wrap .bgc {*/
  /*background-color: #f8f8f8;*/
  /*}*/

  /*.topic-group-wrapper {*/
  /*background-color: #FFFFFF;*/
  /*margin-bottom: 10px;*/
  /*}*/
</style>


<ion-modal-view ng-controller="topicPublishController as ctl">


  <ion-header-bar align-title="center" class="bar-dark task-publish-default bgcolor-theme">
    <div class="buttons">
      <a class="button button-icon icon ion-android-close bgcolor-bg" ng-click="ctl.closeModal()">
      </a>
    </div>

    <div class="title col-center">发布话题</div>
    <div class="buttons buttons-right">
      <a class="button button-icon" style="background-color:#ff492f" ng-click="ctl.publish()">发布
      </a>
    </div>
  </ion-header-bar>
  <ion-content class="topic-publish-wrap" overflow-scroll="false" style="overflow: hidden;">
    <div class="topic-group-wrapper bottom-bordered bottom-bordered-normal">
      <!--<div class="row group-item group-item-input no-border left-align">-->
      <div class="row no-border left-align">
        <textarea placeholder="我们都是能好好说话的孩纸"
                  ng-change="ctl.cb_checkText()"
                  ng-model="ctl.content" style="width: 100%;height: 100px;resize: none"/></textarea>
        <div class="topic-publish-word-count" style="background-color: #FFFFFF;  text-align: center;">
          <a class=" icon ion-ios-close-empty icon-right;" style="color:black "
             ng-click="ctl.clearContent()"> {{140 - ctl.content.length}}</a>
        </div>
      </div>

      <div class="split" style="margin-left: 10px;"></div>

      <div class="row photo-list" style="padding:3px">

        <div class="col col-25 col-center img-item" ng-repeat="imgItem in ctl.imgList">
          <div style="background-color: #FFFFFF; border-radius:8px;
        border:1px solid #D2E0E6 ;width: 20px; font-size: 50px;height: 60px;width: 60px;text-align: center; line-height: 60px">
            <img style="max-height: 58px; max-width: 58px" ng-src="{{imgItem.imgSrc}}"
                 ng-click="ctl.clickImg(imgItem)"/>
          </div>

        </div>

        <div ng-if="ctl.imgList.length < ctl.maxImgCount" class="col col-25 col-center ">
          <div class="icon ion-ios-camera-outline" style="background-color: #FFFFFF; border-radius:8px;
        border:1px solid #D2E0E6 ;width: 20px; font-size: 50px;height: 60px;width: 60px;text-align: center; line-height: 60px"
               ng-click="ctl.clickCamera()">
          </div>
        </div>
      </div>
      <!---->
      <div class="row">
        <!--<div class="col col-offset-50 col-center col-33">-->
          <!--<input type="checkbox"/> <span>匿名发送</span>-->
        <!--</div>-->

        <!--<div class="col col-offset-80 col-center" style="background-color: #FFFFFF; border-radius:4px;-->
        <!--border:1px solid #D2E0E6 ;padding:2px;width: 20px; text-align: center;">-->
          <!--<a class=" icon ion-ios-close-empty icon-right;" style="color:black "-->
             <!--ng-click="ctl.clearContent()"> {{140 - ctl.content.length}}</a>-->
        <!--</div>-->

      </div>
    </div>

    <div class="topic-group-wrapper">
      <div class="topic-public-tag-wrap">
        <div class="topic-tag" ng-repeat="tag in ctl.tagList"
             ng-click="ctl.toggleSelected(tag)"
             ng-class="{true:'tag-selected'}[tag.selected]">
          #{{tag.base.name}}#</div>

        <!--<div class="topic-tag" ng-repeat="tag in ctl.tagList"-->
              <!--ng-click="ctl.toggleSelected(tag)"-->
              <!--ng-style="{true:'{{tag.style}}',false:'{{tag.style}}'}[tag.selected== true]">-->
          <!--#{{tag.base.name}}#</div>-->
        <!--<div class="topic-tag">#po故事</div>-->
        <!--<div class="topic-tag"> test11111111111111111111111111111111111111111</div>-->
        <!--<div class="topic-tag"> 好我们在是否是短发阿福盛大发售 </div>-->
        <!--<div class="topic-tag"> #po故事sdfdfssfsd </div>-->
        <!--<div class="topic-tag"> #po故事 </div>-->
        <!--<div class="topic-tag"> #po故事 </div>-->
        <!--<div class="topic-tag"> #po故事 </div>-->
        <!--<div class="topic-tag"> #po故事 </div>-->
        <!--<div class="topic-tag"> #po故事 </div>-->

      </div>

    </div>


  </ion-content>
</ion-modal-view>
