<ion-view class="topic-group">

  <ion-nav-title class="title title-center header-item">
    <div style="height: 100%">
      各路大侠一起聊
    </div>
  </ion-nav-title>

  <!--<ion-nav-buttons side="left">-->
  <!--<button class="button button-icon icon ion-arrow-left-c" ui-sref="main.topic-group({groupId:vm.topic.groupId})">-->
  <!--</button>-->
  <!--</ion-nav-buttons>-->

  <ion-nav-buttons side="right">
    <button class="button icon "
            ng-class="{true:'ho-star  collection-color',false:'ho-star-outline'}[vm.collectionTopicService.isCollectionTopic(vm.topicId)]"
            ng-click="vm.collectionToggle($event)">
    </button>

    <button class="button icon ion-ios-more" ng-click="vm.operateTopic($event)">
    </button>
  </ion-nav-buttons>
  <ion-content class="topic-detail has-header has-footer user-topic">
    <!--<ion-content class="has-header topic-group">-->
    <ion-refresher pulling-text="刷新中" on-refresh="vm.doRefresh()"></ion-refresher>

    <div class="topic-group-wrapper" ng-click="vm.clearReplyComment()">
      <div class="row">

        <div class="avatar">
          <img class="user-logo" ng-src="{{vm.topic.poster.avatar}}" ng-click="vm.cb_gotoUser(vm.topic.poster.userId)">
        </div>

        <div class="user-info-panel">
          <div class="line-1">
            <span class="name" style="white-space:nowrap;">{{vm.topic.poster.nickname}}</span>

            <div class="gender" style="padding-left: 0;padding-right:0;">
                <span class="gender-icon  font-size-13"
                      ng-class="{false:'ho-gender-female color-woman',true:'ho-gender-male color-man '}[vm.topic.poster.gender == 1]">
                </span>
            </div>
            <div class="topic-impress-panel">
              <div class="impress-panel" ng-repeat="item in vm.topic.poster.ui_tags">
                <p class="elem text-tag toggle-on {{item.className}}">{{item.text}}</p>
                <!--<span class="font-size-12 elem text-tag user-tag-color-{{ut.id -1 }}"-->
                <!--ng-repeat="ut in vm.topic.poster.tags">-->
                <!--{{ut.tagName}}-->
                <!--</span>-->
              </div>
            </div>


            <!--<div class="row">-->

            <!--<div class="title-desc" style="text-align: right;padding-left:5px">-->
            <!--{{vm.topic.created|DateShow}} 来自 {{vm.topic.poster.orgList[0].name}}-->
            <!--</div>-->

            <!--</div>-->

          </div>

          <div class="title-desc" style="">
            {{vm.topic.created|DateShow}} 来自 {{vm.topic.poster.orgList[0].name}}
          </div>
        </div>

      </div>

      <div class="div-line"></div>

      <!--<div class="row content-tag-wrap"-->
      <!--ng-if="vm.topic.tagInfoList != null && vm.topic.tagInfoList.length > 0">-->
      <!--<div class="content-tag" ng-repeat="tag in vm.topic.tagInfoList"> #{{tag.name}}#</div>-->
      <!--</div>-->

      <p class="content-tag" ng-if="vm.topic.tagInfoList != null && vm.topic.tagInfoList.length > 0">
        {{vm.topic.tagInfoList | TagConnector}}</p>

      <div class="content-wrap">
        <p ng-bind-html="vm.topic.content" class="auto-wrap font-size-14"></p>

      </div>

      <div class="row content-wrap" ng-if="vm.topic.imgList != null && vm.topic.imgList.length == 1 ">
        <img class="big-pic blank-right blank-bottom blank-top"
             ng-src="{{vm.topic.imgList[0]}}" ng-click="vm.showImgs(vm.topic.imgList)">
      </div>

      <div class="row content-wrap" ng-if="vm.topic.imgList != null && vm.topic.imgList.length == 2 ">
        <img class=" mid-pic blank-right blank-bottom blank-top" ng-repeat="imgSrc in vm.topic.imgList"
             ng-src="{{imgSrc}}" ng-click="vm.showImgs(vm.topic.imgList)">
      </div>

      <div class="row content-wrap" ng-if="vm.topic.imgList != null && vm.topic.imgList.length == 3 ">
        <img class=" mini-pic blank-right blank-bottom blank-top" ng-repeat="imgSrc in vm.topic.imgList"
             ng-src="{{imgSrc}}" ng-click="vm.showImgs(vm.topic.imgList)">
      </div>

      <div class="row content-wrap" ng-if="vm.topic.imgList != null && vm.topic.imgList.length == 4 ">
        <div class="col">
          <div class="row ">
            <img class="mini-pic  blank-right blank-bottom blank-top"
                 ng-src="{{vm.topic.imgList[0]}}" ng-click="vm.showImgs(vm.topic.imgList)">
            <img class="mini-pic  blank-right blank-bottom blank-top"
                 ng-src="{{vm.topic.imgList[1]}}" ng-click="vm.showImgs(vm.topic.imgList)">
          </div>
          <div class="row ">
            <img class="mini-pic  blank-right blank-bottom blank-top"
                 ng-src="{{vm.topic.imgList[2]}}" ng-click="vm.showImgs(vm.topic.imgList)">
            <img class="mini-pic  blank-right blank-bottom blank-top"
                 ng-src="{{vm.topic.imgList[3]}}" ng-click="vm.showImgs(vm.topic.imgList)">
          </div>
        </div>
      </div>

      <div class="row button-list-wrap">
        <!--<div class="col col-25 button-wrap">-->
        <!--<button class="button button-small icon ion-ios-eye-outline">-->
        <!--{{vm.topic.accessCount}}-->
        <!--</button>-->
        <!--</div>-->

        <div class="col col-33 button-wrap">
          <button class="button button-small icon ho-chat-3">
            {{vm.topic.commentCount}}
          </button>
        </div>
        <div class="col col-33 button-wrap">
          <button class="button button-small icon "
                  ng-class="{true:'ion-ios-heart favourite',false:'ion-ios-heart-outline '}[vm.topic.isFavourite == true]"
                  ng-click="vm.favouriteToggle()">
            {{vm.topic.favouriteCount}}
          </button>

        </div>
        <div class="col col-33 button-wrap">
          <button class="button button-small icon ho-share"
                  ng-click="vm.topicService.shareTopic(vm.topic)">
          </button>
        </div>

      </div>
    </div>

    <!-- 话题评论列表-->
    <div class="topic-comment topic-group-wrapper">
      <div class="row font-size-13 header">
        <span class="header-icon icon ho-chat-3"/> <span class="header-txt">评论</span> <span class="header-txt">{{vm.topic.commentCount}}</span>
        <span class="header-txt">条</span>
      </div>

      <!--<div class="" ng-if="vm.topic.commentCount == 0">-->
      <!--<div class="row" style="margin:10px 10px 0 26px;">-->
      <!--<p>还没有评论，你来试试？</p>-->
      <!--</div>-->

    </div>

    <div ng-if="vm.topic.commentCount == 0" class="content-empty">
      <img class="image" src="img/theme/sofa@2x.png" style="width:130px;">

      <p class="desc">还没评论过，第一个沙发谁坐？</p>
    </div>

    <div class="topic-comment topic-group-wrapper" ng-click="vm.clearReplyComment()"
         ng-if="vm.topic.commentCount > 0">

      <div class="topic-comment-list">
        <ion-list class="user-topic">
          <ion-item ng-repeat="item in vm.topicCommentList" ng-click="vm.operateComment(item,$event)">

            <div class="topic-comment-panel">
              <div class="topic-comment-panel-left">
                <div class="row">
                  <div class="avatar">
                    <img class="user-logo" ng-src="{{item.commenter.avatar}}"
                         ng-click="vm.cb_gotoUser(item.commenter.userId)">
                  </div>
                  <div class="user-info-panel">
                    <div class="line-1">
                      <span class="name">{{item.commenter.nickname}}</span>

                      <div class="gender" style="padding-left: 0;padding-right:0;">
											<span class="gender-icon  font-size-13"
                            ng-class="{true:'ho-gender-female color-woman',false:'ho-gender-male color-man '}[item.commenter.gender == 1]">
											</span>
                      </div>

                      <!--<p class="title-header">-->
                      <!--<span>{{item.commenter.nickname}}</span>-->
                      <!--<span class="gender-icon  font-size-12"-->
                      <!--ng-class="{false:'ho-gender-female color-woman',true:'ho-gender-male color-man '}[item.commenter.gender == 1]">-->
                      <!--</span>-->
                      <!--</p>-->
                      <!--</div>-->

                    </div>

                    <div class="row">
                      <p class="title-desc">
                        {{item.created|DateShow}} 来自 {{item.commenter.orgList[0].name}}
                      </p>
                    </div>


                  </div>
                </div>

                <div class="comment-content-panel">
                  <p ng-bind-html="item.content" class="content-txt auto-wrap"></p>

                  <div class="reply-content" ng-if="item.replyOtherComment != null ">
                    <p class=" auto-wrap"> 回复@{{item.replyOtherComment.commenter.nickname}}的评论:
                      {{item.replyOtherComment.content}}
                    </p>

                    <a class="go-comment-session"
                       ng-href="#/main/topic-group/comment-session/{{item.commentSessionId}}">查看会话</a>
                  </div>

                </div>

              </div>
              <div class="topic-comment-panel-right" style="flex-direction: column">
                <div style="padding: 5px;color: #878787;font-size: 9px;">
                   {{''+(vm.topicCommentList.length - $index)+'楼'}}
                </div>
                <div class="reply-bt font-size-20 icon ho-chat-3" style="padding: 5px;"
                     ng-click="vm.setReplyCommentFocus(item,$event)"></div>
              </div>
            </div>


          </ion-item>
        </ion-list>
      </div>
    </div>
    </div>
    <ion-infinite-scroll ng-if="vm.moreDataCanBeLoaded()" on-infinite="vm.loadMore()"
                         distance="1%"></ion-infinite-scroll>
  </ion-content>

  <ho-bottom-input input="vm.sendContent"
                   placeholder="{{(vm.replyCommentItem == null)?'请输入评论':'回复@'+vm.replyCommentItem.commenter.nickname}}"
                   send="vm.sendComment(event)"
                   is-focus-me="{{vm.isComment}}"></ho-bottom-input>

  <!--<ion-footer-bar align-title="left" class="bar-light" resize-foot-bar>-->
  <!--<div class="col-10">-->
  <!--<div class="icon ion-happy-outline"></div>-->
  <!--</div>-->

  <!--<label class="item item-input rj-footer-input col-75">-->
  <!--<textarea msd-elastic ng-model="vm.sendContent"-->
  <!--placeholder="{{(vm.replyCommentItem == null)?'输入评论':'回复@'+vm.replyCommentItem.commenter.nickname}}"-->
  <!--focus-me="{{vm.isComment}}"></textarea>-->
  <!--</label>-->

  <!--<div class="rj-footer-btn-wrap">-->

  <!--<div class="rj-send-button">-->
  <!--<p ng-click="vm.sendComment(event)">发送</p>-->
  <!--</div>-->
  <!--</div>-->


  <!--</ion-footer-bar>-->
</ion-view>
