// Colors
// -------------------------------

$node-green: #80bd01;
$node-black: #444;

//$color-theme: #F74848;
$color-theme: #FF432F;

//page bg color
$color-page-bg: #e8e7ed;

//div line
$color-div-line: #e4e4e4;  //淡线颜色

// text color
$color-text-primary: #2a2a2a;       // 文字主要
$color-text-secondary: #878787;     // 文字次级
$color-text-thirdly: #dddddd;       // 文字提示等

//button colors
$button-gray-color: $color-text-secondary;

// icon colors
$deadline-icon-color: #0a9dc7;  //截止时间图标颜色
$address-icon-color: #eaae22;   //地点图标颜色

// gender colors
$gender-man-color: #33cd5f;
$gender-woman-color: #F55E5E;

// user tag
$user-tag-color-0: #F55E5E;
$user-tag-bgcolor-0: #e8a3a5;
$user-tag-color-1: #0a9dc7;
$user-tag-bgcolor-1: #a8e3e5;

$user-tag-padding: 1px;

// button color
$button-accept-bgcolor: #ffeceb;
$button-accept-bordercolor: #ffd0ce;
$button-accept-txtcolor: #f78058;

