// Colors
// -------------------------------

$node-green: #80bd01;
$node-black: #444;

//$theme-color: #F74848;
$theme-color: #EF7151;

// line and text colors
$weak-line-color: #eeeeee;  //淡线颜色
$weak-text-color1: #bbb;     //淡文字颜色1
$weak-text-color2: #999;      //淡文字颜色2

// icon colors
$deadline-icon-color: #0a9dc7;  //截止时间图标颜色
$address-icon-color: #eaae22;   //地点图标颜色

// gender colors
$gender-man-color: #33cd5f;
$gender-woman-color: #F55E5E;

// user tag
$user-tag-color-0: #F55E5E;
$user-tag-bgcolor-0: #e8a3a5;
$user-tag-color-1: #0a9dc7;
$user-tag-bgcolor-1: #a8e3e5;

$user-tag-padding: 1px;

// button color
$button-accept-bgcolor: #ffeceb;
$button-accept-bordercolor: #fed1ce;
$button-accept-txtcolor: #f97f58;

