// Variables
// --------------------------

$hoicons-font-path: "../fonts" !default;
$hoicons-font-family: "Hoicons" !default;
$hoicons-version: "1.0.3" !default;
$hoicons-prefix: ho- !default;

$hoicon-var-me-on: "\e900";
$hoicon-var-me: "\e901";
$hoicon-var-chat-0: "\e902";
$hoicon-var-share:"\e903";
$hoicon-var-location:"\e904";
$hoicon-var-chat-1:"\e905";
$hoicon-var-chat-2:"\e906";
$hoicon-var-gender-female:"\e907";
$hoicon-var-gender-male:"\e908";
$hoicon-var-task-list:"\e909";
$hoicon-var-rmb-on:"\e90a";
$hoicon-var-who:"\e90b";
$hoicon-var-head-1:"\e90d";
$hoicon-var-head-2:"\e90c";

