// Variables
// --------------------------

$hoicons-font-path: "../fonts" !default;
$hoicons-font-family: "Hoicons" !default;
$hoicons-version: "1.0.3" !default;
$hoicons-prefix: ho- !default;

$hoicon-var-me-on: "\e900";
$hoicon-var-me: "\e901";
$hoicon-var-chat-0: "\e902";
$hoicon-var-share:"\e903";
$hoicon-var-location:"\e904";
$hoicon-var-chat-1:"\e905";
$hoicon-var-chat-2:"\e906";
$hoicon-var-gender-female:"\e907";
$hoicon-var-gender-male:"\e908";
$hoicon-var-discover:"\e909";
$hoicon-var-rmb-on:"\e90a";
$hoicon-var-who:"\e90b";
$hoicon-var-head-1:"\e90d";
$hoicon-var-head-2:"\e90c";
$hoicon-var-orz:"\e90e";
$hoicon-var-graduation-cap:"\e90f";
$hoicon-var-gender-both:"\e910";
$hoicon-var-person:"\e911";
$hoicon-var-add-on:"\e912";
$hoicon-var-task:"\e913";
$hoicon-var-edit:"\e914";
$hoicon-var-task-confirm-wait:"\e915";
$hoicon-var-task-wait:"\e916";
$hoicon-var-task-giveup:"\e917";
$hoicon-var-task-going-overtime:"\e918";
$hoicon-var-task-going:"\e919";
$hoicon-var-task-unfinish:"\e91a";
$hoicon-var-task-wait-overtime:"\e91b";
$hoicon-var-task-finish:"\e91c";
$hoicon-var-task-remark:"\e91d";

