// Variables
// --------------------------

$hoicons-font-path: "../fonts" !default;
$hoicons-font-family: "Hoicons" !default;
$hoicons-version: "1.0.2" !default;
$hoicons-prefix: ho- !default;

$hoicon-var-faxian-outline: "\e900";
$hoicon-var-faxian: "\e901";
