// Icons
// --------------------------

.#{$hoicons-prefix}me-on:before,
.#{$hoicons-prefix}me:before,
.#{$hoicons-prefix}chat-0:before,
.#{$hoicons-prefix}share:before,
.#{$hoicons-prefix}location:before,
.#{$hoicons-prefix}chat-1:before,
.#{$hoicons-prefix}chat-2:before,
.#{$hoicons-prefix}setting:before,
.#{$hoicons-prefix}invite:before,
.#{$hoicons-prefix}discover:before,
.#{$hoicons-prefix}rmb-on:before,
.#{$hoicons-prefix}who:before,
.#{$hoicons-prefix}head-1:before,
.#{$hoicons-prefix}head-2:before,
.#{$hoicons-prefix}orz:before,
.#{$hoicons-prefix}graduation-cap:before,
.#{$hoicons-prefix}gender-both:before,
.#{$hoicons-prefix}person:before,
.#{$hoicons-prefix}add-on:before,
.#{$hoicons-prefix}task:before,
.#{$hoicons-prefix}edit:before,
.#{$hoicons-prefix}task-wait-overtime:before,
.#{$hoicons-prefix}task-going:before,
.#{$hoicons-prefix}task-unfinish:before,
.#{$hoicons-prefix}task-finish:before,
.#{$hoicons-prefix}task-wait:before,
.#{$hoicons-prefix}task-confirm-wait:before,
.#{$hoicons-prefix}task-giveup:before,
.#{$hoicons-prefix}task-going-overtime:before,
.#{$hoicons-prefix}task-remark:before,
.#{$hoicons-prefix}gender-female:before,
.#{$hoicons-prefix}gender-male:before,

{
  @extend .ion;
}

.#{$hoicons-prefix}me-on:before{ content: $hoicon-var-me-on; }
.#{$hoicons-prefix}me:before{ content: $hoicon-var-me; }
.#{$hoicons-prefix}chat-0:before{ content: $hoicon-var-chat-0; }
.#{$hoicons-prefix}share:before{ content: $hoicon-var-share; }
.#{$hoicons-prefix}location:before{ content: $hoicon-var-location; }
.#{$hoicons-prefix}chat-1:before{ content: $hoicon-var-chat-1; }
.#{$hoicons-prefix}chat-2:before{ content: $hoicon-var-chat-2; }
.#{$hoicons-prefix}setting:before{ content: $hoicon-var-setting; }
.#{$hoicons-prefix}invite:before{ content: $hoicon-var-invite; }
.#{$hoicons-prefix}discover:before{ content: $hoicon-var-discover; }
.#{$hoicons-prefix}rmb-on:before{ content: $hoicon-var-rmb-on; }
.#{$hoicons-prefix}who:before{ content: $hoicon-var-who; }
.#{$hoicons-prefix}head-1:before{ content: $hoicon-var-head-1; }
.#{$hoicons-prefix}head-2:before{ content: $hoicon-var-head-2; }
.#{$hoicons-prefix}orz:before{ content: $hoicon-var-orz; }
.#{$hoicons-prefix}graduation-cap:before{ content: $hoicon-var-graduation-cap; }
.#{$hoicons-prefix}gender-both:before{ content: $hoicon-var-gender-both; }
.#{$hoicons-prefix}person:before{ content: $hoicon-var-person; }
.#{$hoicons-prefix}add-on:before{ content: $hoicon-var-add-on; }
.#{$hoicons-prefix}task:before{ content: $hoicon-var-task; }
.#{$hoicons-prefix}edit:before{ content: $hoicon-var-edit; }
.#{$hoicons-prefix}task-wait-overtime:before{ content: $hoicon-var-task-wait-overtime; }
.#{$hoicons-prefix}task-going:before{ content: $hoicon-var-task-going; }
.#{$hoicons-prefix}task-unfinish:before{ content: $hoicon-var-task-unfinish; }
.#{$hoicons-prefix}task-finish:before{ content: $hoicon-var-task-finish; }
.#{$hoicons-prefix}task-wait:before{ content: $hoicon-var-task-wait; }
.#{$hoicons-prefix}task-confirm-wait:before{ content: $hoicon-var-task-confirm-wait; }
.#{$hoicons-prefix}task-giveup:before{ content: $hoicon-var-task-giveup; }
.#{$hoicons-prefix}task-going-overtime:before{ content: $hoicon-var-task-going-overtime; }
.#{$hoicons-prefix}task-remark:before{ content: $hoicon-var-task-remark; }
.#{$hoicons-prefix}gender-female:before{ content: $hoicon-var-gender-female; }
.#{$hoicons-prefix}gender-male:before{ content: $hoicon-var-gender-male; }
