<ion-modal-view ng-controller="jiebaoPublishController as ctl">
  <style type="text/css">
    .group-wrapper {
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      -webkit-border-radius: 4px;
      background: #fff;
      margin-bottom: 10px;
    }

    .group-wrapper > .no-border {
      border-style: none;
    }

    .group-item {
      /*margin-left: 10px;*/
      /*margin-right: 10px;*/
      border-color: #ddd;
      background-color: #fff;
      color: #444;
      position: relative;
      z-index: 2;
      display: block;
      /*margin: -1px;*/
      padding: 2px;
      border-width: 1px;
      border-style: solid;
      font-size: 16px;
    }

    .group-item-input {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      position: relative;
      overflow: hidden;
      /*padding: 6px 0 5px 16px;*/
    }

    .group-item-input input {
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-flex: 1;
      -webkit-flex: 1 220px;
      -moz-box-flex: 1;
      -moz-flex: 1 220px;
      -ms-flex: 1 220px;
      flex: 1 220px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
      padding-right: 24px;
      background-color: transparent;
    }

    .group-item .icon {
      max-width: 10px;
      max-height: 15px;
      margin-left: -10px;
      margin-right: 10px;
    }

    .group-item .logo {
      /*max-width: 40px;*/
      /*max-height: 40px;*/
      margin-left: -10px;
      margin-right: 10px;
    }

    /*.login-page .button-login {*/
    /*background-color: #F9E9AD;*/
    /*border-radius: 4px;*/
    /*color: #F55E5E;*/
    /*}*/

    .group-item > .no-border {
      border-style: none;
    }

    .group-item:after {
      /*margin-bottom: 2px;*/
    }

    .split {
      border-bottom: 1px solid #ddd;
      margin-top: 2px;
      margin-bottom: 2px;
    }

    .high-light {
      background-color: #ffc900;
    }
  </style>

  <ion-header-bar align-title="center" class="bar-dark" style="background-color:#ff492f">
    <div class="buttons">
      <a class="button" style="background-color:#ff492f" ng-click="ctl.closeModal()">取消
      </a>
    </div>
    <div class="title col-center">发布</div>
  </ion-header-bar>
  <ion-content class="" overflow-scroll="true" style="overflow: hidden;background-color:#efeff4">
    <div class="group-wrapper">
      <div class="row group-item group-item-input no-border">
        <img class="logo col col-10" src="./img/task/publish/shaodai-logo.png"/>

        <p class="col col-20">{{ctl.taskTypeName}}</p>

        <button class="col col-40 button" style="background-color: #EE5757; color: #ffffff;"
                ng-click="ctl.selectSubTaskType()" value="{{ctl.selectedSubTask.type}}">
          {{ctl.selectedSubTask.name}}
        </button>
      </div>

      <div class="split"></div>

      <div class="row">
        <label class=" item item-input" style="border:none;width:100%">
          <textarea placeholder="Comments" style="border:none; width: 100%;height:100px"  ng-model="ctl.summary"/></textarea>
        </label>
      </div>

      <div class="split"></div>

      <div class="row group-item group-item-input no-border">
        <img class="icon" src="./img/login/phone.png"/>
        <input class="col-80" type="text" placeholder="" ng-model="ctl.pubLocation"/>
      </div>

      <div class="split"></div>

      <div class="row group-item group-item-input no-border">
        <img class="icon" src="./img/login/phone.png"/>
        <input class="col-80" type="text" placeholder="请输入开始时间" ng-model="ctl.startTime|date:'MM月dd日 HH:mm'"  ng-click="ctl.setStartTime()"/>
      </div>

      <div class="split"></div>

      <div class="row group-item group-item-input no-border">
        <img class="icon" src="./img/login/phone.png"/>
        <input class="col-80" type="text" placeholder="请输入截止时间" ng-model="ctl.deadline|date:'MM月dd日 HH:mm'"  ng-click="ctl.setDeadline()"/>
      </div>

    </div>


    <div class="group-wrapper">
      <p>感谢方式</p>

      <div class="split"></div>
      <div class="row group-item group-item-input no-border">
        <p class="col col-20">请客</p>
        <a class="col col-25 button"
           ng-class="{true:'high-light',false:''}[ctl.selectedRewardType == '1' && ctl.selectedSubRewardType == '1']"
           ng-click="ctl.setRewardType(1,1)">一杯饮料</a>
        <a class="col col-25 button"
           ng-class="{true:'high-light',false:''}[ctl.selectedRewardType == '1' && ctl.selectedSubRewardType == '2']"
           ng-click="ctl.setRewardType(1,2)">一份零食</a>
        <a class="col col-25 button"
           ng-class="{true:'high-light',false:''}[ctl.selectedRewardType == '1' && ctl.selectedSubRewardType == '3']"
           ng-click="ctl.setRewardType(1,3)">一个水果</a>
      </div>
      <div class="row group-item group-item-input no-border">
        <p class="col col-20">人情卡</p>
        <a class="col col-35 button"
           ng-class="{true:'high-light',false:''}[ctl.selectedRewardType == '2' && ctl.selectedSubRewardType == '1']"
           ng-click="ctl.setRewardType(2,1)">欠一份人情</a>
        <a class="col col-35 button"
           ng-class="{true:'high-light',false:''}[ctl.selectedRewardType == '2' && ctl.selectedSubRewardType == '2']"
           ng-click="ctl.setRewardType(2,2)">欠一份大人情</a>
      </div>
    </div>

    <div class="row">
      <button class="button button-full" ng-click="ctl.publish()">
        发布
      </button>
    </div>
  </ion-content>
</ion-modal-view>
