<style type="text/css">
  ._impress-panel {
    margin-top: -4px;
  }
  ._desc-p {
    margin-bottom: 0 !important;
  }

  /*._accept-bt {*/
  /*bottom: 22px !important;*/
  /*}*/
</style>

<ion-view view-title="任务详情">
  <ion-content class="task-state topics">
    <div class="row nopadding bottom-bordered bottom-bordered-small">
      <div class="content-left">
        <img class="task-img" src={{vm.task.icon}} reset-img>

        <p class="task-type">{{vm.task.typeName}}</p>
      </div>
      <div class="content-right">
        <div class="row user-panel nopadding">
          <img class="avatar" ng-src={{vm.task.poster.avator}} ng-click="vm.cb_gotoUser(vm.task.poster.userId)">

          <div class="user-detail">
            <div class="top">
              <div class="line-1">
                <p class="name">{{vm.task.poster.nickname}}</p>
                <i class="gender-icon font-size-12"
                   ng-class="{false:'ho-gender-female color-woman',true:'ho-gender-male color-man '}[vm.task.poster.gender == 1]"></i>
              </div>

              <p class="time">{{vm.task.created | DateShow}}</p>
            </div>
            <div class="bottom">
              <div class="impress-panel _impress-panel" ng-repeat="item in vm.task.ui_tags">
                <p class="elem text-tag toggle-on {{item.className}}">{{item.text}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="div-line-1"></div>

        <div class="summary-panel">
          <p class="summary">{{vm.task.summary}}</p>

          <div class="appendix">
            <i class="icon ho-alert-clock deadline "></i>

            <p class="_desc-p" ng-if="vm.task.taskTypesId<200">{{vm.task.deadline | IMDateShow}}{{' 截止'}}</p>
            <p class="_desc-p" ng-if="vm.task.taskTypesId>=200">{{vm.task.startTime | BorrowDateShowFn}}{{' ~ '}}{{vm.task.deadline | BorrowDateShowFn}}{{' 借用'}}</p>
          </div>
          <div class="appendix">
            <i class="icon ho-location address"></i>

            <p class="_desc-p">{{vm.task.pubLocation}}</p>
          </div>
          <div>
            <p class="thank">感谢：</p>

            <p class="thank-what text-tag tabs-color-light">{{vm.task.rewardDescription}} </p>
          </div>
        </div>

        <!--<div class="div-line-2"></div>-->

        <!--<div class="bottom-panel">-->
        <!--<div>-->
        <!--<i class="elem2 icon ho-chat-3 font-size-13"></i>-->
        <!--<span class="count">{{vm.task.commentCount}}</span>-->
        <!--</div>-->
        <!--<div>-->
        <!--<i class="elem2 icon ho-share font-size-13"></i>-->
        <!--<span class="count">0</span>-->
        <!--</div>-->
        <!--<button class="button-accept  button-light-red _accept-bt" ng-click="">-->
        <!--接单-->
        <!--</button>-->
        <!--</div>-->
      </div>
    </div>

    <div class="task-dot-ctn">

      <!--<div class="dot dot-0">-->
        <!--<div class="icon" ng-class="{-->
              <!--'dot-small':vm.task.ui_tagState1==0, 'dot-big':vm.task.ui_tagState1>0, 'offset-right':vm.task.ui_tagState1>0,-->
              <!--'success-bg':vm.task.ui_tagState1==0, 'success':vm.task.ui_tagState1>2, 'failed':vm.task.ui_tagState1>0&&vm.task.ui_tagState1<=2,-->
                <!--'ho-task-wait':vm.task.ui_tagState1==3,'ho-task-wait-overtime':vm.task.ui_tagState1==2,'ho-task-unfinish':vm.task.ui_tagState1==1}"></div>-->
      <!--</div>-->

      <!--<div class="div-line-0" ng-class="{'div-line-pending':vm.task.ui_tagState2==-1, 'div-line-failed':vm.task.ui_tagState2==1,-->
            <!--'div-line-success':vm.task.ui_tagState2==0 || vm.task.ui_tagState2>1}"></div>-->

      <!--<div class="dot dot-1">-->
        <!--<div class="icon" ng-class="{'dot-small':vm.task.ui_tagState2<=0, 'dot-big':vm.task.ui_tagState2>0,-->
              <!--'pending-bg':vm.task.ui_tagState2==-1, 'success-bg':vm.task.ui_tagState2==0, 'failed':vm.task.ui_tagState2==1,-->
              <!--'success':vm.task.ui_tagState2>1,-->
                   <!--'ion-ios-refresh':vm.task.ui_tagState2==2, 'ion-checkmark-circled':vm.task.ui_tagState2==3,-->
                    <!--'ion-close-circled':vm.task.ui_tagState2==1}"></div>-->
      <!--</div>-->

      <!--<div class="div-line-1"-->
           <!--ng-class="{'div-line-pending':vm.task.ui_tagState3==-1,'div-line-failed':vm.task.ui_tagState3==1, 'div-line-success':vm.task.ui_tagState3>1}"></div>-->

      <!--<div class="dot dot-2">-->
        <!--<div class="icon" ng-class="{'dot-small':vm.task.ui_tagState3==-1, 'dot-big':vm.task.ui_tagState3>0,-->
               <!--'offset-left':vm.task.ui_tagState3>0,-->
               <!--'pending-bg':vm.task.ui_tagState3==-1, 'failed':vm.task.ui_tagState3==1, 'success':vm.task.ui_tagState3>1,-->
                  <!--'ion-close-circled':vm.task.ui_tagState3==1, 'ion-ios-refresh':vm.task.ui_tagState3==2,-->
                  <!--'ion-checkmark-circled':vm.task.ui_tagState3==3 }"></div>-->
      <!--</div>-->

      <div class="dot dot-0">
        <div class="icon" ng-class="{
                    'dot-small':vm.task.ui_tagState1==0, 'dot-big':vm.task.ui_tagState1>0, 'offset-right':vm.task.ui_tagState1>0,
              'success-bg':vm.task.ui_tagState1==0, 'success':vm.task.ui_tagState1>2, 'failed':vm.task.ui_tagState1>0&&vm.task.ui_tagState1<=2,
                'ho-task-wait':vm.task.ui_tagState1==3,'ho-task-wait-overtime':vm.task.ui_tagState1==2,'ho-task-unfinish':vm.task.ui_tagState1==1}"></div>
      </div>

      <!--<div class="div-line-0" ng-class="{'div-line-pending':item.ui_tagState2==-1, 'div-line-failed':item.ui_tagState2==1,-->
      <!--'div-line-success':item.ui_tagState2==0 || item.ui_tagState2>1}"></div>-->

      <div class="div-line-0" ng-class="{'div-line-pending':vm.task.ui_tagState2==-1,
            'div-line-success':vm.task.ui_tagState2>=0}"></div>

      <div class="dot dot-1">
        <div class="icon" ng-class="{'dot-small':vm.task.ui_tagState2<=0, 'dot-big':vm.task.ui_tagState2>0,
              'pending-bg':vm.task.ui_tagState2==-1, 'success-bg':vm.task.ui_tagState2==0,
              'failed':vm.task.ui_tagState2==1||vm.task.ui_tagState2==2,
              'success':vm.task.ui_tagState2>=3,
                   'ho-task-giveup':vm.task.ui_tagState2==1, 'ho-task-going-overtime':vm.task.ui_tagState2==2,
                    'ho-task-going':vm.task.ui_tagState2==3}"></div>
      </div>

      <div class="div-line-1"
           ng-class="{'div-line-pending':vm.task.ui_tagState3==-1, 'div-line-success':vm.task.ui_tagState3>=1}"></div>

      <div class="dot dot-2">
        <div class="icon" ng-class="{'dot-small':vm.task.ui_tagState3==-1, 'dot-big':vm.task.ui_tagState3>0,
               'offset-left':vm.task.ui_tagState3>0,
               'pending-bg':vm.task.ui_tagState3==-1, 'failed':vm.task.ui_tagState3==1, 'success':vm.task.ui_tagState3>1,
                  'ho-task-unfinish':vm.task.ui_tagState3==1, 'ho-task-confirm-wait':vm.task.ui_tagState3==2,
                  'ho-task-finish':vm.task.ui_tagState3==3 }"></div>
      </div>

    </div>

    <div class="task-desc-ctn bottom-bordered bottom-bordered-small">
      <p class="desc desc-0">{{vm.task.ui_tagText1}}</p>

      <p class="desc desc-1">{{vm.task.ui_tagText2}}</p>

      <p class="desc desc-2">{{vm.task.ui_tagText3}}</p>
    </div>


    <div class="comment-board bottom-bordered bottom-bordered-small" ng-if="vm.showOtherComment==true">
      <p class="title"><b>对方点评</b></p>

      <div class="div-text-panel">
        <div class="left-line"></div>
        <p class="mid-text">满意度与印象点评</p>

        <div class="right-line"></div>
      </div>

      <div class="star-panel">
        <five-stars value="vm.ui_otherCommentLevel"></five-stars>
      </div>

      <div class="impress-panel">
        <p class="text-tag toggle-on {{item.className}}" ng-repeat="item in vm.ui_otherCommentTags">{{item.text}}</p>
      </div>

      <div class="div-text-panel">
        <div class="left-line"></div>
        <p class="mid-text">留言</p>

        <div class="right-line"></div>
      </div>

      <div class="comment-panel">
        <!--<p align="center">{{vm.ui_otherComment}}</p>-->
        <p align="center">{{vm.ui_otherComment==''?'这位小侠没有留下任何话':vm.ui_otherComment}}</p>
      </div>
    </div>

    <div class="comment-board" ng-if="vm.showMyComment==true">
    <!--<div class="comment-board bottom-bordered bottom-bordered-small" ng-hide ng-show="vm.showMyComment==true">-->
      <p class="title"><b>我的点评</b></p>

      <div class="div-text-panel">
        <div class="left-line"></div>
        <p class="mid-text">满意度与印象点评</p>

        <div class="right-line"></div>
      </div>

      <div class="star-panel">
        <five-stars value="vm.ui_myCommentLevel"></five-stars>
      </div>

      <div class="impress-panel">
        <p class="text-tag toggle-on {{item.className}}" ng-repeat="item in vm.ui_myCommentTags">{{item.text}}</p>
      </div>

      <div class="div-text-panel">
        <div class="left-line"></div>
        <p class="mid-text">留言</p>

        <div class="right-line"></div>
      </div>

      <div class="comment-panel">
        <p align="center">{{vm.ui_myComment==''?'这位小侠没有留下任何话':vm.ui_myComment}}</p>
      </div>
    </div>

    <div class="state-desc-panel">
      <p ng-if="vm.showState==1">
        请尽快评价对方
      </p>
      <p ng-if="vm.showState==2">
        等待对方的评价
      </p>
    </div>

  </ion-content>
</ion-view>
