//////////////////////////////////////////////////
// overwrite ionic
.item {
  &.activated {
    background-color: white;
  }

  .item-content {
    &.activated {
      background-color: white;
    }
  }
}

//////////////////////////////////////////////////
// 通用颜色
.color-theme {
  color: $color-theme !important;
}

.color-white {
  color: #fff !important;
}

.color-black {
  color: #000 !important;
}

.color-olive-green {
  color: #81c03e;
}

.bgcolor-theme {
  background-color: $color-theme !important;
}

.bgcolor-white {
  background-color: white;
}

.bgcolor-bg {
  background-color: $color-page-bg;
}

.color-text-primary {
  color: $color-text-primary !important;
}

.color-text-secondary {
  color: $color-text-secondary !important;
}

.color-text-thirdly {
  color: $color-text-thirdly !important;
}
.color-text-thirdly-bg {
  background-color: $color-text-thirdly !important;
}

//////////////////////////////////////////////////
// 性别颜色
.color-man {
  color: $gender-man-color;
}

.color-woman {
  color: $gender-woman-color;
}

//////////////////////////////////////////////////
// 用户标签(评价,头像旁显示等)颜色

.user-tag-color-0 {
  color: $user-tag-color-0 !important;
  background-color: $user-tag-bgcolor-0 !important;
}

.user-tag-color-1 {
  color: $user-tag-color-1 !important;
  background-color: $user-tag-bgcolor-1 !important;
}

$user-tag-colors: $user-tag-color-0 $user-tag-color-1;

@mixin user-tag-color($index) {
  color: nth($user-tag-colors, $index);
}

//////////////////////////////////////////////////
// 文字形式的标签(标签,酬谢)
.text-tag {
  display: inline-block;
  line-height: 15px;
  padding: 0 7px 0px !important;
  font-size: 11px !important;
  -webkit-border-radius: 8px !important;
  -moz-border-radius: 8px !important;
  border-radius: 8px !important;
}

//////////////////////////////////////////////////
// 按钮
.button-light-red {
  border-style: solid;
  border-width: 1px;

  border-color: $button-accept-bordercolor;
  background-color: $button-accept-bgcolor;
  color: $button-accept-txtcolor;
  &.activated {
    color: white;
    background-color: $button-accept-bordercolor;
  }
}

// button
@mixin ho-button-color($bgcolor, $active-bgcolor, $textcolor, $active-textcolor) {
  background-color: $bgcolor;
  color: $textcolor;
  &.active,
  &.activated {
    background-color: $active-bgcolor;
    color: $active-textcolor;
  }
}

@mixin ho-toggle-color($off, $on) {
  border-color: $off !important;
  background-color: white !important;
  color: $off !important;
  &.toggle-on {
    border-color: $on !important;
    color: white !important;
    background-color: $on !important;
  }
}

@mixin ho-button-outline-color($color) {
  border-style: solid;
  border-width: 1px;
  @include button-outline($color);
}

.ho-button {

  &.button-theme {
    @include ho-button-outline-color($color-theme);
  }
  &.button-gray {
    @include ho-button-outline-color($button-outline-gray-color);
  }
}

.ho-button-small {
  padding: 2px 8px;
  height: 24px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 18px;

  &.min-width-60 {
    min-width: 60px;
    text-align: center;
  }

  &.flex-center {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
  }

  .badge-dot {
    background-color: $color-theme;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: relative;
    right: -2px;
    top: -4px;
  }
  &.has-badge {
    padding-right: 0;
  }
}

.ho-button-block {
  min-height: 45px;
  width: 100%;
  border-radius: 7px;
  border-style: none;
  font-size: 15px;
  font-weight: 500;
  //@include display-flex();
  //@include align-items(center);
  //@include justify-content(center);
  &.button-theme {
    @include ho-button-color($color-theme, $color-theme-dark, white, white);
  }
  &.button-weak-gray {
    @include ho-button-color($button-gray-color, $button-gray-deep-color, $color-text-secondary, $color-text-secondary);
  }
}

//////////////////////////////////////////////////
// 布局
.justify-content-center {
  @include justify-content(center);
}

.nopadding {
  padding: 0 !important;
}

.margin {
  margin: 10px !important;
}

.margin-top {
  margin-top: 10px !important;
}

.top-bordered {
  border-style: solid !important;
  border-bottom-color: $color-div-line !important;
  &.top-bordered-small {
    border-top-width: 5px !important;
  }
  &.top-bordered-normal {
    border-top-width: 10px !important;
  }
  &.top-bordered-big {
    border-top-width: 15px !important;
  }
}

.bottom-bordered {
  border-style: solid !important;
  border-bottom-color: $color-div-line !important;
  &.bottom-bordered-small {
    border-bottom-width: 5px !important;
  }
  &.bottom-bordered-normal {
    border-bottom-width: 7px !important;
  }
  &.bottom-bordered-big {
    border-bottom-width: 10px !important;
  }
}

//////////////////////////////////////////////////
// show hide
.move-away {
  //@include transition-transform(translate3d(-9999px, -9999px, 0px));
  transform:translate3d(-9999px, -9999px, 0px) !important;
}

//////////////////////////////////////////////////
// list
.ho-list {

  //overwrite ionic
  .list {
    width: 100%;
  }

  .ho-item {
    padding: 0;

    @include display-flex();
    @include align-items(center);
    min-height: 48px;
    border-color: $color-div-line;
    background-color: white;

    .title {
      padding: 0 20px 0 28px;
      margin-bottom: 0; // overwrite ionic .item p
      font-size: 15px;
      color: $color-text-primary;
    }

    .content {
      font-size: 15px;
      color: $color-text-secondary;
    }

    .content-right {
      @include display-flex();
      @include flex-direction(row-reverse);
      @include flex(1);
      @include align-items(center);

      .body {
        color: $color-text-secondary;
      }
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 10px 10px 10px 10px;
      }
      .decoration {
        @include flex(0, 0, 22px);
        @include display-flex();
        @include justify-content(center);
      }
    }

    &.ho-item-header-icon-title {
      @include display-flex();
      @include align-items(center);
      border-bottom-style: solid;
      border-bottom-width: 1px;
      border-bottom-color: $color-div-line;
      min-height: 35px;
      height: 35px;

      &.has-bg-color {
        background-color: $color-page-bg-weak;
        border: none;
      }

      .side-icon {
        padding-left: 10px;
        font-size: 14px;
      }
      .title {
        padding-left: 6px;
        font-size: 13px;
        color: $color-text-primary;
      }
    }

    &.ho-item-avatar {
      @include display-flex();
      @include align-items(center);
      @include justify-content(space-between);
      padding: 5px;
      width: 100%;
      .list {
        width: 100%;
      }
      .avatar {
        @include flex(0, 0, auto);
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 0 10px 0 10px;
      }
      .content {
        @include flex(1, 0, auto);
      }
      .right {
        @include flex(0, 0, auto);
        margin: 0 5px 0 5px;
      }
    }

    &.ho-item-icon {
      @include display-flex;
      @include align-items(center);
      @include justify-content(space-between);

      .item-icon {
        @include flex(0, 0, 50px);
        @include display-flex();
        @include justify-content(center);
        font-size: 18px;
        color: $color-text-secondary;
      }

      .item-content {
        @include flex(1, 0, auto);

        .input {
          width: 100%;
        }

        .left-text {
          padding-bottom: 0;
          margin-bottom: 0;
          color: $color-text-secondary;
        }
      }

      .right {
        @include flex(0, 0, 20px);
        margin: 0 11px 0 10px;
      }

      .right-long {
        @include flex(0, 0, 50px);
        margin: 0 11px 0 10px;
      }
    }
  }

}

//////////////////////////////////////////////////
.bar.bar-helporz-theme {
  border-color: #28a54c;
  background-color: $color-theme;
  background-image: linear-gradient(0deg, $color-theme, $color-theme 50%, transparent 50%);
  color: #fff;
}

.bar.bar-helporz-theme .title {
  color: #fff;
}

.bar.bar-helporz-theme.bar-footer {
  background-image: linear-gradient(180deg, $color-theme, #0c60ee 50%, transparent 50%);
}

.bar-helporz-theme .button {
  border-color: transparent;
  background-color: $color-theme;
  color: #fff;
}

.bar-helporz-theme .button:hover {
  color: #fff;
  text-decoration: none;
}

.bar-helporz-theme .button.active, .bar-balanced .button.activated {
  background-color: $color-theme;
}

.bar-helporz-theme .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #fff;
  font-size: 17px;
}

.bar-helporz-theme .button.button-icon {
  border-color: transparent;
  background: none;
}
