//////////////////////////////////////////////////
// 通用颜色
.color-theme {
  color: $theme-color !important;
}
.color-white {
  color: #fff !important;
}
.color-black {
  color: #000 !important;
}
.color-olive-green {
  color: #81c03e;
}

.bgcolor-theme {
  background-color: $theme-color !important;
}

//////////////////////////////////////////////////
// 性别颜色
.color-man {
  color: $gender-man-color;
}

.color-woman {
  color: $gender-woman-color;
}

//////////////////////////////////////////////////
// 用户标签(评价,头像旁显示等)颜色

.user-tag-color-0 {
  color: $user-tag-color-0 !important;
  background-color: $user-tag-bgcolor-0 !important;
}

.user-tag-color-1 {
  color: $user-tag-color-1 !important;
  background-color: $user-tag-bgcolor-1 !important;
}

$user-tag-colors: $user-tag-color-0 $user-tag-color-1;

@mixin user-tag-color($index) {
  color: nth($user-tag-colors, $index);
}

//////////////////////////////////////////////////
// 文字形式的标签(标签,酬谢)
.text-tag {
  padding: 0.2em !important;
  font-size: 11px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important;
}

//////////////////////////////////////////////////
// 按钮
.button-light-red {
  border-color: $button-accept-bordercolor;
  background-color: $button-accept-bgcolor;
  color: $button-accept-txtcolor;
}

.button-accept {
  display: inline-block;
  padding: 4px 30px;
  min-width: 42px;
  min-height: 16px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 15px;
}

//////////////////////////////////////////////////
// 布局
.nopadding {
  padding: 0 !important;
}

.bottom-bordered {
  border-style: solid !important;
  border-bottom-width: 5px !important;
  border-bottom-color: $weak-line-color !important;
}

//////////////////////////////////////////////////
// list
.ho-list {
  .header-icon-title {
    @include display-flex();
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: $div-line-color;
    height: 40px;
    padding: 10px 0;

    .side-icon {
      padding-left: 12px;
    }
    .title {
      padding-left: 10px;
      font-size: 17px;
      color: $deep-text-color;
    }
  }
  .ho-item {
    @include display-flex();
    @include align-items(center);
    text-align: center;

    .title {
      position: relative;
      float: left;

      padding: 0 20px 0 17px;
      margin-bottom: 0; // overwrite ionic .item p
      font-size: 17px;
      color: $deep-text-color;
    }

    .ho-item-content {
      font-size: 17px;
      color: $deep-text-color1;
    }

  }
}

//////////////////////////////////////////////////
