.edit-sheet {
  //.edit-input  {

  .textarea-big {
    height: 150px;
  }
  .textarea-normal {
    height: 100px;
  }

  .left-words {
    color: $color-text-secondary;
    font-size: 14px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    line-height: 18px;
    padding: 2px 8px;
    border-radius: 5px;
    background-color: $color-page-bg;
  }

  .line {
    height: 40px;
  }

  .button-commit {
    border-radius: 5px;
    margin: 10px 5%;
    width: 90%;
    height: 50px;
    p {
      display: inline-block;

      :before {
        //padding-right: 1.2em;
        //padding-left: 0;
      }

      margin-left: 2px;
      margin-bottom: 2px;
    }


  }
  //}
}
