.info {
  background-color: white;

  .top-panel {
    //@include display-flex();
    //@include align-items(center);
    //@include justify-content(center);
    text-align: center;

    .avatar {
      width: 90px;
      height: 90px;
      //border-radius: 35px;
      //border-style: solid;
      //border-width: 1px;
      //border-color: #fff;
      margin: 25px 0 15px 0;
    }

    .set-avatar {
      font-size: 14px;
      color: $color-text-secondary;
      margin-bottom: 25px;
      line-height: 1;
    }
  }

  .school-panel {
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #ddd;
    height: 48px;

    .school-name {
      color: $color-text-secondary;
      font-size: 14px;
      margin: 0;
    }

    .school-arrow {
      position: absolute;
      top: 64px;
      right: 20px;
      color: $color-text-thirdly;
    }
  }

}
