// me page

.me {
  background-color: $color-page-bg;
  .nav {
    position: fixed;
    top: 0px;
    z-index: 999;
    padding: 20px 10px;

    @include display-flex();
    @include align-items(center);

    *:nth-child(1) {
      @include flex(0, 0, 15%);
    }
    *:nth-child(2) {
      @include flex(0, 0, 70%);
    }
    *:nth-child(3) {
      @include flex(0, 0, 15%);
    }

    .button {
      color: #ffffff;
    }

    .name {
      margin-bottom: 0;
      font-size: 17px;
    }
  }

  .back-img {
    //background-image:  url(../img/main/me/wo-zi-bg@2x.png) no-repeat 0 5px scroll;
    //background-image: url(../img/main/me/wo-zi-bg@2x.png);
    background-color: $color-theme;
    //float: top;
    position: fixed;
    //top: -80px;
    width: 100%;
    height: 180px;
    z-index: -999;
  }

  .mid {
    padding-top: 15px;
    .left {
      margin-left: 17%;
    }
    .avatar {
      width: 70px;
      height: 70px;
      border-radius: 35px;
      border-style: solid;
      border-width: 1px;
      border-color: #fff;
    }
    .side-icon {
      color: #fff;
      @include transform-origin(center, center);
      @include transform(scale(1.5));
    }
  }

  .sign-impress-panel {
    @include display-flex();
    @include align-items(center);
    @include flex-direction(column);
    @include justify-content(center);

    width: 100%;
    height: 55px;
    padding-bottom: 15px;

    .sign {
      padding: 0;
      margin: 0 0 5px 0;
      font-size: 13px;
      color: #fff;
    }

    .bottom {
      //margin-top: 2px;
      line-height: 1;

      @include display-flex();
      @include align-items(center);
      @include justify-content(center);

      .impress-panel {
        margin: 0 3px 0 3px;

        .elem {
          border: 1px solid white !important;
          border-radius: 9px !important;
          margin-bottom: 0;
        }
      }

    }
  }

  .tab-container {
    top: 160px;
  }

  // FIXME: 这里是设置到中间生成的一个el上,效果是反复试出来的(不明觉厉)
  .tab-nav {
    position: relative;
  }
  ion-tabs {
    display: block;
  }
  .tab-item {
    max-width: 50%;
    &.tab-item-active {
      border-color: $color-theme;
      border-bottom-width: 4px;
      border-top-width: 0;
      margin-top: 0;
    }
    &.activated {
      border-width: 0;
    }
    span {
      font-size: 17px;
    }
  }
  //]]

  //////////////////////////////////////////////////
  // tab page
  .tab-panel {
    margin-top: 10px;
    background: white !important;
  }

  .ho-list {
    //overwrite ionic .list
    .list {
      padding-top: 0;
      padding-bottom: 0;
    }

    &.friend {
      ion-item .content {
        .name {
          padding-top: 2px;
          font-size: 15px;
          color: $color-text-primary;
        }
        .desc {
          font-size: 13px;
          color: $color-text-secondary;
        }
      }
    }

  }

  // components
  // 物品
  .belongings {
    .me-card {
      padding-right: 4px;
      width: 64px;
      height: 28px;
    }
    .count1 {
      padding-right: 20px;
      color: #00cdb0;
      font-size: 14px;
    }
    .count2 {
      color: #f74400;
      font-size: 14px;
    }
  }

  //访客
  .visitor {
    .line-container {
      @include flex-direction(column);
      @include align-items(center);
      margin: 5px 0;
      .line {
        line-height: 0;
        @include align-items(center);
        @include justify-content(space-between);
        .avatar {
          margin: 4px 10px 4px 0;
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
      }
    }
  }

}
