.topics {
  padding: 0;

  .content-left {
    text-align:center;
    .task-img {
      position: relative;
      top: 3px;
      width: 60px;
      height: 60px;
      border-radius: 30px;
    }
    .task-type {
      padding: 8px 0;
      font-size: 12px;
      color: #333;
    }
  }

  .content-right {
    .user-panel {
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
      .user-detail {
        .top {
          > p, i {
            display: inline;
            position: relative;
            //top: -1px;
          }
          .elem {
            left: 4px;
          }
          .elem2 {
            left: 8px;
          }
          .time {
            position: absolute;
            right: 0;
            margin-right: 10px;
            color: $color-text-secondary;
          }
        }
        .bottom {
          .elem {
            display: inline;
            left: 10px;
          }
        }
      }

      ul {
        li.tip {
          color: #5f9cc5;
        }
      }
    }

    .summary-panel{
      //height: 75px;
      >p {
        padding: 2px 0 8px;
        white-space: pre-wrap;
      }

      .appendix {
        i, p {
          display: inline;
        }
        p {
          margin-left: 5px;
          font-size: 12px;
          color: $color-text-secondary;
        }
        .deadline {
          color: $deadline-icon-color;
        }
        .address {
          color: $address-icon-color;
          padding-left: 3px;
        }
      }

      .thank {
        display: inline;
        color: $color-theme;
      }
      .thank-what {
        display: inline;
        color: #fff;
        background-color: $color-theme;
      }

    }
    .bottom-panel {
      .count {
        display: inline-block;
        padding: 5px 30px 1px 5px;
        font-size: 14px;
        color: $color-text-secondary;
      }
      .right {
        position: absolute;
        right: 15px;
      }
    }

    .div-line {
      //position: absolute;
      //top: 60px;
      margin: 7px 10px 7px 0;
      width: 400px;
      height: 1px;
      background-color: $color-div-line;
    }
  }
}
