.playground-list {
  .slide-box {
    .slide-item-wrap {
      width: 100%;
      height: 100px;
    }

    img {
      width: 100%;
      height: 100px;
    }
  }

  .group-list {

    .item {
      border: none;

      :after {
        background-color: #606060;
        bottom: 1px;
        content: "";
        display: block;
        /*left: 250px;*/
        position: absolute;
        top: 1px;
        width: 1px;
        height: 1px;
      }

      img {
        width: 2.5em;
      }

      .no-left-padding {
        padding-left: 0px;
      }

      .name {
        font-size: 1em;
        color: black;
      }

      .desc {
        font-size: 0.6em;
      }
    }

  }
}

.group-header {
  font-size: 1em;
  height: 50%;
  line-height: normal;
}

.group-header-desc {
  font-size: 0.1em;
  height: 50%;
  line-height: normal;
}

.group-info {
  background-color: #FFFFFF;
  img {
    width: 40px;
    height: 40px;
  }
}

.public-notice {
  background-color: #FFFFFF;
  margin: 5px 0px;

  img {
    widht: 20px;
    height: 20px;
  }
}

.sys-topic {
  img {
    widht: 20px;
    height: 20px;
  }
}

.topic-group {
  background-color: $color-page-bg;
  margin: 0px;

  .item {
    padding: 0px;
    margin: 0;
    border: none;
  }

  .topic-item {
    margin-bottom: 7px;
  }

  .list {
    padding: 0px;
    border: none;
  }

  .row {
    padding: 0px;
  }

  .add-topic {
    /*position:fixed;*/
    position: absolute;
    /*top:0;*/
    /*left: 0;*/
    bottom: 30px;
    right: 30px;
    z-index: 3;
    /*overflow-y:auto;*/
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
    font-size: 50px;
    color: red;
  }

  .button-list-wrap {
    margin-top: 5px;
    padding: 0px;
    border-top: 1px solid $color-div-line;
    border-bottom: 1px solid $color-div-line;
    background-color: #e4e5e7;
  }

  .title-header {
    font-size: 0.8em;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .title-desc {
    font-size: 0.2em;
  }

  .bgc {
    background-color: #f8f8f8;
  }

  .sys-logo {
    background-color: red;
    vertical-align: middle;
    widht: 20px;
    height: 20px;
  }

  button {
    width: 100%;
    border-radius: 0px;
  }

  .button-wrap {
    padding: 0px;
    button {
      color: $color-text-secondary;
    }

    :nth-last-child(n+1) {
      border-left: 1px solid $color-div-line;
    }
  }

}

.user-topic {
  font-size: 13px;
  color: $color-text-secondary;

  .gender-logo {
    width: 8px;
    height: 8px;
  }

  .user-logo {
    width: 34px;
    max-height: 34px;
    border-radius: 50%;
    vertical-align: middle;
  }
}

.topic-publish-wrap {
  background-color: #ffffff; //#D2E0E6;
  margin: 0px;

  .bgc {
    background-color: #f8f8f8;
  }
}

.topic-group-wrapper {
  background-color: #FFFFFF;
  margin-bottom: 7px;
}

.split {
  border-bottom: 1px solid #ddd;
  margin-top: 2px;
  margin-bottom: 2px;
}

.auto-wrap {
  word-wrap: break-word;
  word-break: normal;
  white-space: normal !important;
}

.collection-color {
  color: gold !important;
}

.topic-tag-wrap {
  word-wrap: break-word;
  padding-top: 5px;
  .topic-tag {
    //float: left;
    height: 20px;
    min-width: 65px;
    border: 1px solid $color-theme;
    border-radius: 11px;
    font-size: 12px;
    line-height: 20px;
    padding: 3px 5px;
    text-align: center;
    //margin: 0px 5px;
    word-wrap: break-word;

  }

  .tag-selected {
    background-color: gold;
  }

  .no-border {
    border-width: 0px !important;
  }
}

.topic-detail {
  .avatar {
    margin: 10px 7px 0 12px;
  }
  .user-info-panel {
    font-size: 13px;
    .line-1 {
      @include display-flex();
      @include align-items(center);
      margin: 8px 5px 4px 5px;
      .name {
        line-height: 15px;
        color: $color-text-secondary;
      }
      .gender {
        margin-left: 3px;
        padding-top: 1px;
        font-size: 13px;
      }
      .topic-impress-panel {
        margin-left: 8px;
        @include display-flex();
        @include align-items(center);
        line-height: 0;

        .impress-panel {
          margin-right: 5px;

          .elem {
            margin-bottom: 0;
          }
        }
      }
      .more {
        position: absolute;
        line-height: 25px;
        right: 15px;
        color: $color-text-thirdly;
      }
    }
    .title-desc {
      font-size: 9px;
      line-height: 9px;
      margin-left: 5px;
      color: $color-text-secondary;
    }
  }

  .div-line {
    margin-left: 58px;
    margin-top: 8px;
    //margin-bottom
    line-height: 0;
    border-bottom: 1px solid $color-div-line;
  }

  .content-tag-wrap {
    padding: 7px 10px 0px 58px;
    .content-tag {
      font-size: 12px;
      line-height: 13px;
      color: $color-theme-weak;
    }
  }

  .content-wrap {
    //padding: 8px 12px 5px 12px;;
    padding: 6px 10px 5px 58px;
    p {
      color: $color-text-primary;
      margin: 0;
      text-overflow: clip;
    }
  }

  .content-img-wrap {
    padding: 0px 10px 0px 58px;
  }

  .content-panel {
    padding: 5px 10px 5px 10px;
  }
}

.topic-comment {
  .header {
    padding: 5px 5px 5px 10px;
    background-color: $color-page-bg-weak;

    .header-icon {
      color: $color-theme;
    }
    .header-txt {
      color: $color-text-primary;
    }
  }

  .topic-comment-panel {
    @include display-flex();
    border-bottom: 1px solid $color-div-line;

    .topic-comment-panel-left {
      width: calc(100% - 60px);
      &.full {
        width: calc(100% - 10px);
      }
    }
    .topic-comment-panel-right {
      width: 60px;
      @include display-flex();
      @include align-items(center);
      @include justify-content(center);
    }
  }

  .comment-content-panel {
    padding: 5px 0 10px 58px;

    .content-txt {
      font-size: 14px;
      color: $color-text-primary;
      text-overflow: clip;
    }

    .reply-content {
      //border: none;
      border-radius: 5px;
      background-color: $color-page-bg;
      padding: 5px 10px;
      line-height: 17px;
      //width: 100%;
      position: relative;
      margin-top: 3px;
      margin-bottom: 19px;

      p {
        font-size: 12px;
        margin: 0;
      }

      .go-comment-session {
        text-decoration:none;
        font-size: 12px;
        color: $color-tip-blue;
        position: absolute;
        right: 0;
        bottom: -21px;
      }
    }

    .go-topic-detail {
      text-decoration:none;
      font-size: 12px;
      line-height: 16px;
      color: $color-tip-blue;
      //position: absolute;
      //right: 0;
      //bottom: -21px;
      margin-bottom: -3px;

      &.has-reply {
        position: absolute;
        bottom: 13px;
      }
    }

  }
  .reply-bt {
    color: $color-tip-blue;
  }


  .item p {
    font-size: 8px;
  }
}

.topic-group-popover {
  padding: 2px 0;
  width: 140px;
  height: 241px;

  .topic-group-popover-item {
    line-height: 43px;
    //padding: 5px 0;
    @include display-flex();
    @include align-items(center);
    @include justify-content(center);

    > i {
      font-size: 22px;
      width: 22px;
      text-align: center;
      margin-left: -5px;
    };
    > p {
      color: $color-text-secondary;
      margin: 0 0 0 12px;
    };

    &.item-1 {
      color: limegreen;
    }
    &.item-2 {
      color: lightskyblue;
    }
    &.item-3 {
      color: dodgerblue;
    }
    &.item-4 {
      color: gold;
    }
    &.item-5 {
      color: crimson;
    }
  }
}
