.task-view {
  background: $color-page-bg;
}

.task-title-container {
  padding-top: 10px;
  @include display-flex();
  @include justify-content(center);
}

.task-item {
  border-top-width: 0;

  .item-content {
    padding: 0;
  }

  .task-header {
    @include display-flex();
    @include align-items(center);
    height: 36px;

    .left {
      @include flex(1, 0, 30%);
      @include display-flex();
      @include align-items(center);
      .avatar {
        margin: 1px 8px 1px 10px;
        width: 22px;
        height: 22px;
        border-radius: 50%;
      }
      .name {
        padding-right: 8px;
        font-size: 13px;
        margin-bottom: 0; //overwrite ionic p.item
      }
      .desc {
        //color: white;
        background-color: #eee;
        color: $color-text-secondary;
        font-size: 11px;
        border-radius: 3px;
        height: 22px;
        vertical-align: middle;
        line-height: 18px;
        padding: 2px 6px;
      }
    }
    .right {
      @include flex(1);
      @include display-flex();
      @include flex-direction(row-reverse);
      @include align-items(center);

      .chat {
        padding-right: 18px;
        margin: -8px;
        font-size: 8px;
        //color: $color-theme;
        color: $color-text-secondary;
      }


      .time {
        margin: 1px 7px 0;
        color: $color-text-secondary;
        font-size: 9px;
      }
    }

  }

  .task-body {
    height: 90px;
    @include display-flex();
    @include align-items(center);
    background-color: $color-page-bg-weak;
    border-style: solid;
    //border-left-color: $button-accept-bordercolor;
    //border-left-width: 2px;
    //border-bottom-color: $color-div-line;
    //border-bottom-width: 1px;

    .left {
      height: 70px;
      @include flex(1, 0, 25%);
      @include display-flex();
      @include flex-direction(column);
      @include align-items(center);
      @include justify-content(space-around);
      margin-top: 3px;

      .task-img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
      .task-desc {
        color: $color-text-secondary;
        font-size: 12px;
        margin-top: 7px;
      }
    }
    .div-line {
      height: 60px;
      //border: 1px solid $color-div-line;
      border-left-style: solid;
      border-left-width: 1px;
      border-left-color: $color-div-line
    }
    .right {
      @include flex(0, 1, 75%);

      .div-line {
        width: 120px;
        height: 1px;
        border: 1px solid #33cd5f;
        //position: absolute;
        //top: 20px;

      }

    }
  }

  //全体右对齐
  .task-foot {
    //> * {
      @include display-flex();
      @include align-items(center);
      @include justify-content(flex-end);
      height: 36px;
    //}
    //padding: 5px 0;
    //.align-center {
    //  @include align-items(center);
    //  @include justify-content(center);
    //}
    .align-right {
      @include align-items(center);
      @include justify-content(flex-end);
    }

    * {
      margin: 0 5px 0 0;
    }
    p {
      color: $color-text-secondary;
      font-size: 12px;
      margin-right: 10px;
    }
    button {
      line-height: 1;
    }
  }

  //左中右,三区域 (ios不支持flex-shrink...)
  //.task-foot {
  //  padding: 5px 2px;
  //  > div {
  //    @include display-flex();
  //    @include align-items(center);
  //    height: 24px;
  //
  //    * {
  //      margin: 0 3px;
  //    }
  //    p {
  //      color: $color-text-primary;
  //      font-size: 12px;
  //    }
  //
  //    .left {
  //      @include flex(0, 1, 40%);
  //    }
  //
  //    .mid {
  //      @include flex(1, 0, 20%);
  //      @include justify-content(center);
  //    }
  //
  //    .right {
  //      @include flex(0, 1, 40%);
  //      @include display-flex();
  //      @include align-items(center);
  //      @include justify-content(flex-end);
  //    }
  //  }
  //}

  //盒子模型,文字居中,按钮靠右
  //.task-foot {
  //  padding-top: 5px;
  //  //width: 100%;
  //  height: 40px;
  //  text-align: center;
  //  position: relative;
  //
  //  p {
  //    color: $color-text-primary;
  //    font-size: 12px;
  //    margin: 2px 0 0;
  //  }
  //
  //  .desc {
  //    position: relative;
  //    top: -22px;
  //    margin-right: 5px;
  //    float: right;
  //  }
  //}
}

.task-dot-ctn {
  margin-top: 10px;
  @include display-flex();
  @include align-items(center);
  @include justify-content(center);

  .dot {
    @include display-flex();
    @include align-items(center);
    z-index: 100;

    &.dot-0 {
      @include flex(0, 1, 47px);
      @include justify-content(flex-end);
    }
    &.dot-1 {
      @include flex(0, 0, 32);
      @include justify-content(center);
    }
    &.dot-2 {
      @include flex(0, 1, 47px);
      @include justify-content(flex-start);
    }
  }

  .div-line-success {
    //border: 1px solid $color-theme;
    border: 1px solid $color-success;
  }
  .div-line-failed {
    border: 1px solid red;
  }
  .div-line-pending {
    border: 1px dashed $color-div-line;
  }

  .div-line-0 {
    @include flex(1, 1, 20%);
  }
  .div-line-1 {
    @include flex(1, 1, 20%);
  }

  .dot-small {
    width: 16px;
    height: 16px;
    border-radius: 50%;

  }
  //这里是由于ng-src在safari,ios,android有bug,一个class只能对应一个状态,比如 clazz != 1 这句就
  //无法判断;又或是有多个条件,那么只读最后一个条件
  //temp fix: 这里复制一个clazz对应第二个状态
  .dot-small-copy {

    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
  .dot-big {
    font-size: 27px;
    //&.doing {
    //  color: $color-success;
    //}
    //&.done {
    //  color: $color-theme;
    //}
    color: $color-success;
    &.offset-left {
      margin-left: -5px;
    }
    &.offset-right {
      margin-right: -5px;
    }
  }
  .pending-bg {
    background-color: $color-text-thirdly;
  }
  .success-bg {
    background-color: $color-success;
  }
  .success {
    color: $color-success;
  }
  .failed {
    color: red;
  }

}


.task-desc-ctn {
  @include display-flex();
  @include align-items(center);
  margin-top: 2px;

  .desc {
    @include display-flex();
    @include justify-content(center);
    color: $color-text-secondary;
    font-size: 11px;
    margin: 0;

    &.desc-0 {
      @include flex(0, 0, 77px);
    }
    &.desc-1 {
      @include flex(1, 1, 30%);
    }
    &.desc-2 {
      @include flex(0, 0, 77px);
    }
  }
}
