.task-comment-panel {
  @include display-flex();
  @include align-items(top);
  border-bottom: 1px solid $color-div-line;

  .avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 10px;
  }

  .right-panel {
    padding: 8px 8px 8px 0;
    width: calc(100% - 54px);

    .first-line-panel {
      @include display-flex();
      @include align-items(center);
      @include justify-content(space-between);

      .name-gender-panel {
        @include display-flex();
        @include align-items(center);

        .name {
          margin-right: 5px;
          color: $color-text-secondary;
        }
        .gender-icon {

        }
      }

      .time {
        color: $color-text-secondary;
        font-size: 9px;
      }
    }

    .comment-panel {
      margin-top: 7px;
      @include display-flex();
      @include align-items(top);

      .comment-with-icon {
        width: calc(100% - 40px);
        margin-bottom: 0;
        color: $color-text-primary;
      }
      .comment-without-icon {
        width: 100%;
        margin-top: 7px;
        margin-bottom: 0;
        color: $color-text-primary;
      }
      .comment-icon {
        //@include flex(0 0 30px);
        height: 25px;
        width: 25px;
        font-size: 17px;
        color: $color-theme;
      }

    }


  }
}

.task-detail-footer-bar {
  &.bar-footer {
    &.has-tabs {
      bottom: 0px;
    }
  }
}

