<ion-view  class="me" view-title="用户信息" hide-nav-bar="true" hide-tabs>
  <div class="nav row">
    <button class="button button-icon icon ion-android-arrow-back" ng-click="vm.cb_back()"></button>
    <p class="text-center name color-white">点到泥巴了</p>
    <!--<button class="col-offset-10 col-20 button button-icon icon ion-share"></button>-->
  </div>

  <ion-content >
    <div class="back-img" scale-top-bg></div>

    <div class="row mid">
      <div class="col-20 left text-center col-center">
        <button class="side-icon button button-icon ion-android-person-add"></button>
      </div>
      <div class="col-25 text-center">
        <img class="avatar" ng-src="{{vm.userInfo.avatar}}" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1226112392,1303867474&fm=58g"
             live-image on-click="vm.meInfo.cb_avatar()">
      </div>
      <!--<button class="col-20 right button button-icon ion-chatbubble-working"></button>-->
      <div class="col-20 text-center col-center">
        <i class="side-icon button button-icon ion-chatbubble-working" ng-click=""></i>
      </div>
    </div>

    <p class="sign text-center">我的征途是星辰大海</p>

    <ion-list class="ho-list self">
      <ion-item class="header-icon-title">
        <i class="side-icon icon ion-person color-theme"></i>

        <p class="title">个人动态</p>
      </ion-item>

      <ion-item class="ho-item">
        <p class="title">声誉</p>
        <five-stars value="vm.userInfo.fiveStarsValue"></five-stars>
      </ion-item>

      <ion-item class="ho-item">
        <p class="title">级别</p>
        <level-progress
          has-exp="vm.userInfo.hasExp"
          total-exp="vm.userInfo.totalExp"
          level="vm.userInfo.level"
          ></level-progress>
      </ion-item>

      <ion-item class="ho-item belongings">
        <p class="title">物品</p>
        <img class="me-card" src="img/com/wo-ziji-ka1@2x.png">
        <p class="count1">{{'× '+vm.userInfo.smallCards}}</p>
        <img class="me-card" src="img/com/wo-ziji-ka2@2x.png">
        <p class="count2">{{'× '+vm.userInfo.bigCards}}</p>
      </ion-item>

      <ion-item class="ho-item visitor">
        <p class="title">访客</p>
        <div class="line-container">
          <div class="line">
            <img class="avatar" ng-src="{{vm.userInfo.visitorImgWithIndex(0)}}" src="img/com/avatar-default.png" live-image on-click="vm.userInfo.cb_visitorImg(0)">
            <img class="avatar" ng-src="{{vm.userInfo.visitorImgWithIndex(1)}}" src="img/com/avatar-default.png" live-image on-click="vm.userInfo.cb_visitorImg(1)">
            <img class="avatar" ng-src="{{vm.userInfo.visitorImgWithIndex(2)}}" src="img/com/avatar-default.png" live-image on-click="vm.userInfo.cb_visitorImg(2)">
            <img class="avatar" ng-src="{{vm.userInfo.visitorImgWithIndex(3)}}" src="img/com/avatar-default.png" live-image on-click="vm.userInfo.cb_visitorImg(3)">
          </div>
          <div class="line" ng-show="vm.userInfo.visitors.length > 4">
            <img class="avatar" ng-src="{{vm.userInfo.visitorImgWithIndex(4)}}" src="img/com/avatar-default.png" live-image on-click="vm.userInfo.cb_visitorImg(4)">
            <img class="avatar" ng-src="{{vm.userInfo.visitorImgWithIndex(5)}}" src="img/com/avatar-default.png" live-image on-click="vm.userInfo.cb_visitorImg(5)">
            <img class="avatar" ng-src="{{vm.userInfo.visitorImgWithIndex(6)}}" src="img/com/avatar-default.png" live-image on-click="vm.userInfo.cb_visitorImg(6)">
            <img class="avatar" ng-src="{{vm.userInfo.visitorImgWithIndex(7)}}" src="img/com/avatar-default.png" live-image on-click="vm.userInfo.cb_visitorImg(7)">
          </div>
        </div>
      </ion-item>

      <ion-item class="header-icon-title">
        <i class="side-icon icon ion-card color-olive-green"></i>

        <p class="title">个人信息</p>
      </ion-item>
      <ion-item class="ho-item">
        <p class="title">学校</p>
        <p class="ho-item-content">华中科技大学</p>
      </ion-item>
      <ion-item class="ho-item">
        <p class="title">院系</p>
        <p class="ho-item-content">计算机学院</p>
      </ion-item>
      <ion-item class="ho-item">
        <p class="title">楼栋</p>
        <p class="ho-item-content">10栋501</p>
      </ion-item>
      <ion-item class="ho-item">
        <p class="title">家乡</p>
        <p class="ho-item-content">湖北 武汉</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
