<ion-view class="me">
  <!--<div class="nav row">-->
  <!--<button class="button button-icon icon ion-android-arrow-back" ng-click="vm.cb_back()"></button>-->
  <!--<p class="text-center name color-white">{{vm.userInfo.remoteData.nickname}}</p>-->
  <!--&lt;!&ndash;<button class="col-offset-10 col-20 button button-icon icon ion-share"></button>&ndash;&gt;-->
  <!--</div>-->

  <ion-nav-title class="title-container">
    {{vm.userInfo.remoteData.nickname}}
  </ion-nav-title>

  <ion-content>
    <div class="back-img" scale-top-bg></div>

    <div class="mid">

      <div class="left-data-show">
        <div class="txt-0">帮过{{vm.userInfo.remoteData.helpUserCount}}人</div>
        <div class="div-line"></div>
        <div class="txt-1">粉丝{{vm.userInfo.remoteData.funsCount}}人</div>
      </div>

      <div class="avatar-panel">
        <img class="avatar" ng-src="{{vm.userInfo.remoteData.avatar}}"
             src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1226112392,1303867474&fm=58g"
             live-image>
        <img class="gender color-man" ng-src="{{vm.userInfo.remoteData.gender==1?'img/com/gender-male.png':'img/com/gender-female.png'}}">
      </div>
      <!--<button class="col-20 right button button-icon ion-chatbubble-working"></button>-->
      <!--<div class="col-20 text-center col-center">-->
        <!--<i class="side-icon button button-icon ion-chatbubble-working" ng-click=""></i>-->
      <!--</div>-->

      <div class="right-follow">
        <button class="follow-bt" ng-class="{'follow-bt-active':vm.userInfo.isFollowed, 'follow-bt-inactive':!vm.userInfo.isFollowed}"
                ng-click="vm.userInfo.cb_follow()">{{vm.userInfo.isFollowed?'已关注':'关注'}}</button>
      </div>
    </div>

    <div class="sign-impress-panel">
      <p class="sign text-center">{{vm.userInfo.remoteData.sign}}</p>

      <div class="bottom">
        <div class="impress-panel" ng-repeat="item in vm.userInfo.ui_tags">
          <p class="elem text-tag toggle-on color-white">{{item.text}}</p>
        </div>
      </div>
    </div>

    <ion-list class="ho-list self">
      <ion-item class="ho-item ho-item-header-icon-title">
        <i class="side-icon icon ion-person color-theme"></i>

        <p class="title">个人动态</p>
      </ion-item>

      <ion-item class="ho-item">
        <p class="title">声誉</p>
        <five-stars value="vm.userInfo.remoteData.credit"></five-stars>
      </ion-item>

      <ion-item class="ho-item">
        <p class="title">级别</p>
        <level-progress ng-show="vm.userInfo.remoteData != null"
                        has-exp="vm.userInfo.remoteData.experience"
                        total-exp="vm.userInfo.remoteData.upgradeExperience"
                        level="vm.userInfo.remoteData.level"
          ></level-progress>
      </ion-item>

      <ion-item class="ho-item belongings">
        <p class="title">物品</p>
        <img class="me-card" src="img/com/wo-ziji-ka1@2x.png">

        <p class="count1">{{'× '+vm.userInfo.remoteData.userPropInfoList[0].count}}</p>
        <img class="me-card" src="img/com/wo-ziji-ka2@2x.png">

        <p class="count2">{{'× '+vm.userInfo.remoteData.userPropInfoList[1].count}}</p>
      </ion-item>

      <ion-item class="ho-item visitor">
        <p class="title">访客</p>

        <div class="line-container">
          <div class="line">
            <img class="avatar" ng-src="{{vm.userInfo.accessUserAvatar(0)}}" src="img/com/avatar-default.png" live-image
                 on-click="vm.userInfo.cb_visitorImg(0)">
            <img class="avatar" ng-src="{{vm.userInfo.accessUserAvatar(1)}}" src="img/com/avatar-default.png" live-image
                 on-click="vm.userInfo.cb_visitorImg(1)">
            <img class="avatar" ng-src="{{vm.userInfo.accessUserAvatar(2)}}" src="img/com/avatar-default.png" live-image
                 on-click="vm.userInfo.cb_visitorImg(2)">
            <img class="avatar" ng-src="{{vm.userInfo.accessUserAvatar(3)}}" src="img/com/avatar-default.png" live-image
                 on-click="vm.userInfo.cb_visitorImg(3)">
          </div>
          <div class="line"
               ng-show="vm.userInfo.remoteData !== null && vm.userInfo.remoteData.accessUserList.length > 4">
            <img class="avatar" ng-src="{{vm.userInfo.accessUserAvatar(4)}}" src="img/com/avatar-default.png" live-image
                 on-click="vm.userInfo.cb_visitorImg(4)">
            <img class="avatar" ng-src="{{vm.userInfo.accessUserAvatar(5)}}" src="img/com/avatar-default.png" live-image
                 on-click="vm.userInfo.cb_visitorImg(5)">
            <img class="avatar" ng-src="{{vm.userInfo.accessUserAvatar(6)}}" src="img/com/avatar-default.png" live-image
                 on-click="vm.userInfo.cb_visitorImg(6)">
            <img class="avatar" ng-src="{{vm.userInfo.accessUserAvatar(7)}}" src="img/com/avatar-default.png" live-image
                 on-click="vm.userInfo.cb_visitorImg(7)">
          </div>
        </div>
      </ion-item>

      <ion-item class="ho-item ho-item-header-icon-title">
        <i class="side-icon icon ion-card color-olive-green"></i>

        <p class="title">个人信息</p>
      </ion-item>
      <ion-item class="ho-item">
        <p class="title">学校</p>

        <p class="content">{{vm.userInfo.remoteData.orgList[0].name}}</p>
      </ion-item>
      <ion-item class="ho-item">
        <p class="title">院系</p>

        <p class="content">{{vm.userInfo.remoteData.department}}</p>
      </ion-item>
      <ion-item class="ho-item">
        <p class="title">楼栋</p>

        <p class="content">{{vm.userInfo.remoteData.dormitory}}</p>
      </ion-item>
      <ion-item class="ho-item">
        <p class="title">家乡</p>

        <p class="content">{{vm.userInfo.remoteData.hometown}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
