<ion-view view-title="{{vm.orgName}}">
  <!--<ion-view>-->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ho-chat-2" ng-click="vm.state.go('main.near_im')">
      <div class="badge-count" ng-if="vm.noReadMessageCount > 0">
        <p class="count">{{vm.noReadMessageCount}}</p>
      </div>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-tabs has-header">
    <ion-refresher pulling-text="正在加载..." on-refresh="vm.doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item class="topics bottom-bordered bottom-bordered-normal" ng-repeat="item in vm.items"
               item-height="223px" ng-click="vm.cb_itemClick($index)">
        <!--<ion-item class="topics bottom-bordered bottom-bordered-small" collection-repeat="item in vm.items"-->
                  <!--href="#/main/near/task-detail/{{item.id}}" item-height="223px">-->
        <div class="row nopadding">
          <div class="content-left">
            <img class="task-img" src={{item.icon}} reset-img>

            <p class="task-type">{{item.typeName}}</p>
          </div>
          <div class="content-right">
            <div class="row user-panel nopadding">
              <img class="avatar" ng-src={{item.poster.avatar}} ng-click="vm.cb_gotoUser(item.poster.userId)">

              <div class="user-detail">
                <div class="top">
                  <div class="line-1">
                    <p class="name">{{item.poster.nickname}}</p>
                    <i class="gender-icon ho-gender-female color-woman"></i>
                  </div>

                  <!--<p class="time">{{item.ui_createTime}}</p>-->
                  <p class="time">{{item.created | DateShow}}</p>
                </div>
                <div class="bottom">
                  <div class="impress-panel" ng-repeat="item in item.ui_tags">
                    <p class="elem text-tag toggle-on {{item.className}}">{{item.text}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="div-line-1"></div>

            <div class="summary-panel">
              <p class="summary">{{item.summary}}</p>
              <!--<p class="summary" clamp="{{item.summary}}"></p>-->

              <div class="appendix">
                <i class="icon ho-alert-clock deadline "></i>

                <p ng-if="item.taskTypesId<200">{{item.deadline | IMDateShow}}截止</p>
                <p ng-if="item.taskTypesId>=200">{{item.startTime | IMDateShow}}{{' ~ '}}{{item.deadline | IMDateShow}}{{' 借用'}}</p>
              </div>
              <div class="appendix">
                <i class="icon ho-location address"></i>

                <p>{{item.pubLocation}}</p>
              </div>
              <div>
                <p class="thank">感谢:</p>

                <p class="thank-what tabs-color-light">{{item.rewardDescription}} </p>
              </div>
            </div>

            <div class="div-line-2"></div>

            <div class="bottom-panel">
              <div class="item-panel">
                <i class="elem2 icon ho-chat-3 font-size-13"></i>
                <span class="count">{{item.commentCount}}</span>
              </div>
              <div class="item-panel" ng-click="vm.cb_share(item.id)">
                <i class="elem2 icon ho-share font-size-13"></i>
                <span class="count">分享</span>
              </div>

              <p class="my-task-txt" ng-if="item.ui_isMyTask">我的求助</p>
              <button class="button-accept  button-light-red" ng-if="!item.ui_isMyTask" ng-click="vm.cb_acceptTask($index)">
                接单
              </button>
            </div>
          </div>
        </div>


        <!--<p class="summary">-->
        <!--<span ng-if="true" class="tab">vm.xx</span>-->
        <!--<span ng-if="false" class="tab hl">置顶</span>-->
        <!--<span ng-if="false" class="tab hl">精华</span>-->
        <!--<span class="item-note ago" am-time-ago="topic.last_reply_at">-->
        <!--</span>-->
        <!--</p>-->
      </ion-item>
    </ion-list>

    <ion-infinite-scroll immediate-check="false" on-infinite="vm.loadMore()" distance="1%" ng-if="vm.hasMoreTaskFn()==true"></ion-infinite-scroll>

    <div class="string-empty" ng-if="vm.hasMoreTaskFn()==false">没有新内容了=￣ω￣=</div>

    <div ng-if="vm.taskNetService.cache.isNearTaskNeedRefresh==false && vm.items.length==0" class="content-empty">
      <img class="image" src="img/theme/role-2@2x.png">
      <p class="desc">没人需要帮忙了吗？好无聊...</p>
    </div>

    <!--<ul class="list">-->
    <!--<li class="item" collection-repeat="item in items">{{item}}</li>-->
    <!--</ul>-->
  </ion-content>
</ion-view>
