<ion-view view-title="华中科技大学" >
<!--<ion-view>-->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-share"></button>
  </ion-nav-buttons>

  <ion-content class="has-tabs has-header">
    <ion-refresher pulling-text="下拉刷新..." on-refresh="vm.doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item  class="topics bottom-bordered" collection-repeat="item in vm.items"
                  href="#/main/near/{{item.id}}">
        <div class="row nopadding">
          <div class="col col-25 content-left">
            <!--<img class="task-img" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1226112392,1303867474&fm=58g"   reset-img>-->
            <img class="task-img" src={{item.icon}}   reset-img>
            <!--<p class="task-type">{{item.taskSubTypeDescription}}</p>-->
            <p class="task-type">{{item.typeName}}</p>
          </div>
          <div class="col col-75 content-right">
            <div class="row user-panel nopadding">
              <div class="col col-20 nopadding">
                <!--<img class="col avatar nopadding" src="http://avatar.csdn.net/8/1/D/1_xundh.jpg">-->
                <img class="col avatar nopadding" ng-src={{item.poster.avator}}>
              </div>
              <div class="col col-80 user-detail nopadding">
                <div class="top">
                  <p class="elem color-black">{{item.poster.nickname}}</p>
                  <i class="elem2 icon ion-ios-help color-woman"></i>
                  <p class="time">{{item.created}}</p>
                </div>
                <div class="bottom">
                  <p class="elem text-tag user-tag-color-0">女神</p>
                  <p class="elem text-tag user-tag-color-1">娇气包</p>
                </div>
              </div>
            </div>

            <div class="div-line"></div>

            <div class="summary-panel">
              <p class="color-black">{{item.summary}}</p>
              <div class="appendix">
                <i class="icon ion-ios-clock-outline deadline"></i>
                <p>{{item.deadline}}截止</p>
              </div>
              <div class="appendix">
                <i class="icon ion-ios-location-outline address"></i>
                <p>{{item.pubLocation}}</p>
              </div>
              <div>
                <p class="thank">感谢</p>
                <p class="thank-what text-tag tabs-color-light">{{item.rewardDescription}} </p>
              </div>
            </div>

            <div class="div-line"></div>

            <div class="bottom-panel">
              <i class="elem2 icon ion-ios-chatbubble-outline"></i>
              <span class="count">{{item.commentCount}}</span>
              <i class="elem2 icon ion-usb"></i>
              <span class="count">0</span>
              <button class="right button-accept  button-light-red" ng-click="">
                接单
              </button>
            </div>
          </div>
        </div>



        <!--<p class="summary">-->
          <!--<span ng-if="true" class="tab">vm.xx</span>-->
          <!--<span ng-if="false" class="tab hl">置顶</span>-->
          <!--<span ng-if="false" class="tab hl">精华</span>-->
          <!--<span class="item-note ago" am-time-ago="topic.last_reply_at">-->
          <!--</span>-->
        <!--</p>-->
      </ion-item>
    </ion-list>

    <!--<ion-infinite-scroll on-infinite="loadMore()" distance="1%" ng-if="true"></ion-infinite-scroll>-->

    <!--<ul class="list">-->
      <!--<li class="item" collection-repeat="item in items">{{item}}</li>-->
    <!--</ul>-->
  </ion-content>
</ion-view>
