<ion-view view-title="华中科技大学" >
<!--<ion-view>-->
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-share" ng-click=""></button>
  </ion-nav-buttons>

  <ion-content class="padding" >
    <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item   class="topics" ng-repeat="item in vm.items">
        <div class="row nopadding">
          <div class="col col-25 content-left">
            <img class="task-img" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1226112392,1303867474&fm=58g"   reset-img>
            <p class="task-type">超市捎带</p>
          </div>
          <div class="col col-75 content-right">
            <div class="row user-panel nopadding">
              <div class="col col-20 nopadding">
                <img class="col avatar nopadding" src="http://avatar.csdn.net/8/1/D/1_xundh.jpg">
              </div>
              <div class="col col-80 user-detail nopadding">
                <div class="top">
                  <p class="elem color-black">王小丫</p>
                  <i class="elem2 icon ion-ios-help color-woman"></i>
                  <p class="time">5分钟前</p>
                </div>
                <div class="bottom">
                  <p class="elem text-tag user-tag-color-0">女神</p>
                  <p class="elem text-tag user-tag-color-1">娇气包</p>
                </div>
              </div>
            </div>
            
            <div class="div-line"></div>

            <div class="summary-panel">
              <p class="color-black">我想吃汉堡,帮忙从代卖带一份回来,非常感谢!!就在南门外第一家~多谢多谢</p>
              <div class="appendix">
                <i class="icon ion-ios-clock-outline deadline"></i>
                <p>17:30截止</p>
              </div>
              <div class="appendix">
                <i class="icon ion-ios-location-outline address"></i>
                <p>17:30截止</p>
              </div>
              <div>
                <p class="thank">感谢</p>
                <p class="thank-what text-tag tabs-color-light">请你喝饮料</p>
              </div>
            </div>
            <div class="bottom-panel">

            </div>
          </div>
        </div>


        <!--<p class="summary">-->
          <!--<span ng-if="true" class="tab">vm.xx</span>-->
          <!--<span ng-if="false" class="tab hl">置顶</span>-->
          <!--<span ng-if="false" class="tab hl">精华</span>-->
          <!--<span class="item-note ago" am-time-ago="topic.last_reply_at">-->
          <!--</span>-->
        <!--</p>-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
