<style type="text/css">
  ._desc-p {
    margin-bottom: 0 !important;
  }

  ._accept-bt {
    bottom: 22px !important;
  }
</style>

<ion-view view-title="求助详情">
  <ion-content class="has-footer" delegate-handle="taskDetailScroll">
    <div class="topics row nopadding bottom-bordered bottom-bordered-normal">
      <div class="content-left">
        <img class="task-img" src={{vm.task.icon}} reset-img>

        <p class="task-type">{{vm.task.typeName}}</p>
      </div>
      <div class="content-right">
        <div class="row user-panel nopadding">
          <img class="avatar" ng-src={{vm.task.poster.avator}}>

          <div class="user-detail">
            <div class="top">
              <div class="line-1">
                <p class="name">{{vm.task.poster.nickname}}</p>
                <i class="gender-icon ho-gender-female color-woman font-size-12"></i>
              </div>

              <p class="time">{{vm.task.ui_createTime}}</p>
            </div>
            <div class="bottom">
              <div class="impress-panel" ng-repeat="item in vm.task.ui_tags">
                <p class="elem text-tag toggle-on {{item.className}}">{{item.text}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="div-line-1"></div>

        <div class="summary-panel">
          <p class="summary">{{vm.task.summary}}</p>

          <div class="appendix">
            <i class="icon ion-ios-clock-outline font-size-13 deadline "></i>

            <p class="_desc-p">{{vm.task.deadline}}截止</p>
          </div>
          <div class="appendix">
            <i class="icon ho-location font-size-13 address"></i>

            <p class="_desc-p">{{vm.task.pubLocation}}</p>
          </div>
          <div>
            <p class="thank">感谢</p>

            <p class="thank-what text-tag tabs-color-light">{{vm.task.rewardDescription}} </p>
          </div>
        </div>

        <div class="div-line-2"></div>

        <div class="bottom-panel">
          <div>
            <i class="elem2 icon ho-chat-0 font-size-13"></i>
            <span class="count">{{vm.task.commentCount}}</span>
          </div>
          <div>
            <i class="elem2 icon ho-share font-size-13"></i>
            <span class="count">0</span>
          </div>
          <button ng-show="!vm.ui_taskAccepte" class="button-accept  button-light-red _accept-bt" ng-click="vm.submit()">
            接单
          </button>
        </div>
      </div>
    </div>

    <ion-list class="ho-list self">
      <ion-item class="ho-item ho-item-header-icon-title">
        <i class="side-icon icon ho-chat-0 color-theme"></i>

        <p class="title">留言{{vm.task.commentList.length}}条</p>
      </ion-item>
    </ion-list>

    <div class="task-comment-panel" ng-repeat="item in vm.task.commentList">
      <img class="avatar"
           src="http://g.hiphotos.baidu.com/zhidao/wh%3D450%2C600/sign=d4d0c467b5de9c82a630f18b59b1ac3c/e850352ac65c103815cbee9cb4119313b07e8932.jpg"
           ng-src="{{item.avatar}}" live-image>

      <div class="right-panel">

        <div class="first-line-panel">
          <div class="name-gender-panel">
            <span class="name">{{item.nickname}}</span>
            <i class="gender-icon ho-gender-female color-woman font-size-12"></i>
          </div>

          <span class="time">{{item.created | DateShow}} &nbsp {{''+(1+$index)+'楼'}}</span>
          <!--<span class="time">{{item.ui_createTime}}</span>-->
        </div>

        <div class="comment-panel">
          <!--<p class="comment-without-icon">-->
          <p ng-class="{'comment-with-icon': item.ui_canContact,'comment-without-icon': !item.ui_canContact}">
						{{item.comment}}
					</p>
          <i ng-if="item.ui_canContact" class="comment-icon icon ho-chat-0" ng-click="vm.cb_contact()"></i>
        </div>

      </div>
    </div>


  </ion-content>

  <!--<ion-footer-bar align-title="left" keyboard-attach class="bar-assertive task-detail-footer-bar">-->
  <!--<div class="buttons">-->
  <!--<button class="button" ng-click="vm.testShow()">show</button>-->
  <!--</div>-->
  <!--<input type="text" ng-model="vm.input" placeholder="请输入学校">-->
  <!--<div class="buttons">-->
  <!--<button class="button" ng-click="vm.testHide()">hide</button>-->
  <!--</div>-->
  <!--</ion-footer-bar>-->

  <!--<div class="ho-bottom-input" ho-keyboard-attach>-->
    <!--<div class="input-region">-->
      <!--<i class="input-icon icon ho-edit color-text-secondary font-size-14"></i>-->
      <!--&lt;!&ndash;<input type="text" ng-model="vm.input" placeholder="有什么想说...">&ndash;&gt;-->
        <!--<textarea ng-model="vm.input" value="" placeholder="Send a message..." required minlength="1" maxlength="1500"-->
                  <!--msd-elastic></textarea>-->
    <!--</div>-->

    <!--<button class="send" ng-disabled="vm.input.length==0" ng-click="vm.send()">发送</button>-->
  <!--</div>-->

  <ho-bottom-input input="vm.input" placeholder="想说点啥" send="vm.send()"></ho-bottom-input>
</ion-view>
