<ion-view class="me">
  <!--<div class="nav row">-->
  <!--&lt;!&ndash;<div class="col-20 col-center text-center">&ndash;&gt;-->
  <!--&lt;!&ndash;<button class="button button-icon icon ion-share"></button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-offset-10 col-40 col-center text-center">&ndash;&gt;-->
  <!--&lt;!&ndash;<p class="name color-white">xi匿名</p>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->
  <!--&lt;!&ndash;<div class="col-offset-10 col-20 text-center">&ndash;&gt;-->
  <!--&lt;!&ndash;<button class="button button-icon icon ion-share right"></button>&ndash;&gt;-->
  <!--&lt;!&ndash;</div>&ndash;&gt;-->

  <!--<button class="button button-icon icon ion-compose" ng-click="vm.cb_edit()"></button>-->
  <!--<p class="text-center name color-white">{{vm.meInfo.remoteData.nickname}}</p>-->
  <!--<button class="button button-icon icon ion-gear-a" ng-click="vm.cb_setting()"></button>-->
  <!--</div>-->

  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-compose" ng-click="vm.cb_edit()"></button>
  </ion-nav-buttons>

  <ion-nav-title class="title-container">
    {{vm.meInfo.remoteData.nickname}}
  </ion-nav-title>

  <ion-nav-buttons side="right">
    <button class="button button-icon icon ho-chat-2" ng-click="vm.cb_im()"></button>
  </ion-nav-buttons>

  <ion-content delegate-handle="meScroll">
    <div class="back-img" scale-top-bg></div>

    <div class="mid">
      <div class="mid-left-panel">
        <button class="side-icon button button-icon ho-invite" ng-click="vm.cb_share()"></button>
      </div>
      <div class="avatar-panel">
        <img class="avatar" ng-src="{{vm.meInfo.remoteData.avatar}}"
             src="img/com/avatar-default.png"
             live-image on-click="vm.meInfo.cb_avatar()">
        <img class="gender color-man"
             ng-src="{{vm.meInfo.remoteData.gender==1?'img/com/gender-male.png':'img/com/gender-female.png'}}">
      </div>
      <!--<button class="col-20 right button button-icon ion-chatbubble-working"></button>-->
      <div class="mid-right-panel">
        <i class="side-icon button button-icon ho-setting" ng-click="vm.cb_setting()"></i>
      </div>


    </div>

    <div class="sign-impress-panel">
      <p class="sign text-center" ng-show="vm.meInfo.remoteData.sign.length> 0">{{vm.meInfo.remoteData.sign}}</p>

      <div class="bottom">
        <div class="impress-panel" ng-repeat="item in vm.meInfo.ui_tags">
          <!--<p class="elem text-tag toggle-on {{item.className}}">{{item.text}}</p>-->
          <p class="elem text-tag toggle-on color-white">{{item.text}}</p>
        </div>
      </div>

    </div>
    <!--//////////////////////////////////////////////////-->

    <!--<ion-tabs class="tabs-striped padding-top">-->
    <!--&lt;!&ndash;<ion-tab title="自己" href="#/main/me/self" on-select="vm.onSelect(0)">&ndash;&gt;-->
    <!--<ion-tab title="自己" href="#/main/me/self" ng-click="vm.onChangeTab('main.me.self')">-->

    <!--<ui-view style="position:relative;display:block" class="mid-nav-view" name="self" tab-logic ></ui-view>-->

    <!--</ion-tab>-->
    <!--<ion-tab title="伙伴" href="#/main/me/friend" ng-click="vm.onChangeTab('main.me.friend')">-->

    <!--<ui-view style="position:relative;display:block" name="friend" tab-logic></ui-view>-->

    <!--</ion-tab>-->
    <!--</ion-tabs>-->


    <!--//////////////////////////////////////////////////-->

    <!--<ion-tabs class="tabs-striped padding-top" delegate-handle="meTabs">-->
    <!--<ion-tab title="自己" ng-click="vm.onChangeTab(0)" tab-simple tab-index="0">-->
    <!--</ion-tab>-->
    <!--<ion-tab title="伙伴" ng-click="vm.onChangeTab(1)" tab-simple tab-index="1">-->
    <!--</ion-tab>-->
    <!--</ion-tabs>-->

    <ho-tab-set widget-id="meMid" class="ho-tabset ho-tabset-block ">
      <ho-tab class="col-2 ho-tab-weak-gray-bg" on-select="vm.onChangeTab(0)"
              style="font-size:14px;padding-top:5px;height:48px;">
        <strong>自己</strong></ho-tab>
      <ho-tab class="col-2 ho-tab-weak-gray-bg" on-select="vm.onChangeTab(1)"
              style="font-size:14px;padding-top:5px;height:48px">
        <strong>伙伴</strong>
        <ho-badge ng-if="vm.followBadge>0" count="vm.followBadge"></ho-badge>
      </ho-tab>
    </ho-tab-set>

    <div class="tab-panel">
      <div ng-if="vm.activeTab == 0">
        <ion-list class="ho-list self">
          <ion-item class="ho-item ho-item-header-icon-title">
            <i class="side-icon icon ho-me color-theme" style="font-size:15px;padding-left:9px"></i>

            <p class="title" style="padding-left:3px">个人动态</p>
          </ion-item>

          <ion-item class="ho-item">
            <p class="title">声誉</p>
            <five-stars value="vm.meInfo.remoteData.credit"></five-stars>
          </ion-item>

          <ion-item class="ho-item">
            <p class="title">级别</p>
            <level-progress ng-show="vm.meInfo.remoteData != null"
                            has-exp="vm.meInfo.remoteData.experience"
                            total-exp="vm.meInfo.remoteData.upgradeExperience"
                            level="vm.meInfo.remoteData.level"
              ></level-progress>
          </ion-item>

          <ion-item class="ho-item belongings">
            <p class="title">物品</p>
            <img class="me-card" src="img/com/wo-ziji-ka1@2x.png">

            <p class="count1">{{'× '+vm.meInfo.remoteData.userPropInfoList[0].count}}</p>
            <img class="me-card" src="img/com/wo-ziji-ka2@2x.png">

            <p class="count2">{{'× '+vm.meInfo.remoteData.userPropInfoList[1].count}}</p>
          </ion-item>

          <ion-item class="ho-item visitor">
            <p class="title">访客</p>

            <div class="line-container">
              <div class="line">
                <img class="avatar" ng-src="{{vm.meInfo.accessUserAvatar(0)}}" src="img/com/avatar-default.png"
                     live-image on-click="vm.self.cb_visitorImg(0)">
                <img class="avatar" ng-src="{{vm.meInfo.accessUserAvatar(1)}}" src="img/com/avatar-default.png"
                     live-image on-click="vm.self.cb_visitorImg(1)">
                <img class="avatar" ng-src="{{vm.meInfo.accessUserAvatar(2)}}" src="img/com/avatar-default.png"
                     live-image on-click="vm.self.cb_visitorImg(2)">
                <img class="avatar" ng-src="{{vm.meInfo.accessUserAvatar(3)}}" src="img/com/avatar-default.png"
                     live-image on-click="vm.self.cb_visitorImg(3)">
              </div>
              <div class="line"
                   ng-show="vm.meInfo.remoteData !== null && vm.meInfo.remoteData.accessUserList.length > 4">
                <img class="avatar" ng-src="{{vm.meInfo.accessUserAvatar(4)}}" src="img/com/avatar-default.png"
                     live-image on-click="vm.self.cb_visitorImg(4)">
                <img class="avatar" ng-src="{{vm.meInfo.accessUserAvatar(5)}}" src="img/com/avatar-default.png"
                     live-image on-click="vm.self.cb_visitorImg(5)">
                <img class="avatar" ng-src="{{vm.meInfo.accessUserAvatar(6)}}" src="img/com/avatar-default.png"
                     live-image on-click="vm.self.cb_visitorImg(6)">
                <img class="avatar" ng-src="{{vm.meInfo.accessUserAvatar(7)}}" src="img/com/avatar-default.png"
                     live-image on-click="vm.self.cb_visitorImg(7)">
              </div>
            </div>
          </ion-item>

          <ion-item class="ho-item ho-item-header-icon-title">
            <i class="side-icon icon ion-card color-olive-green"></i>

            <p class="title">个人信息</p>
          </ion-item>
          <ion-item class="ho-item">
            <p class="title">学校</p>

            <p class="content">{{vm.meInfo.remoteData.orgList[0].name}}</p>
          </ion-item>
          <ion-item class="ho-item">
            <p class="title">院系</p>

            <p class="content">{{vm.meInfo.remoteData.department}}</p>
          </ion-item>
          <ion-item class="ho-item">
            <p class="title">楼栋</p>

            <p class="content">{{vm.meInfo.remoteData.dormitory}}</p>
          </ion-item>
          <ion-item class="ho-item">
            <p class="title">家乡</p>

            <p class="content">{{vm.meInfo.remoteData.hometown}}</p>
          </ion-item>
        </ion-list>
      </div>

      <ion-list class="ho-list friend">

        <div class="tab-panel" ng-if="vm.activeTab == 1">
          <ho-tab-set widget-id="me-friend" first-on="last" class="ho-tabset ho-tabset-block-border">
            <ho-tab class="col-2 ho-tab-gray" on-select="vm.self.cb_tabFollow(0)" style="">
              关注
              <ho-badge ng-if="vm.followBadge>0" count="vm.followBadge"></ho-badge>
            </ho-tab>
            <ho-tab class="col-2 ho-tab-gray" on-select="vm.self.cb_tabFollow(1)">
              粉丝
            </ho-tab>
          </ho-tab-set>
        </div>

        <!--<ion-item class="ho-item" collection-repeat="item in vm.self.repeatList" item-height="54px"-->
        <!--item-width="100%" ng-show="vm.self.ui_showFriendList==true">-->
        <!--<img class="avatar" ng-src="{{item.avatar}}"-->
        <!--src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=4123988153,51280834&fm=58"-->
        <!--live-image>-->

        <!--<div class="content-long"-->
        <!--ng-class="{'content-short':vm.self.tabFollow==0 && item.recentTaskIdArray.length>0}">-->
        <!--<p class="name">{{item.nickname}}</p>-->

        <!--<p class="desc">{{item.sign}}</p>-->
        <!--</div>-->


        <!--<button class="bt-left ho-button button-theme ho-button-small min-width-60 bt-active"-->
        <!--ng-class="{'move-away': vm.self.tabFollow==1 && item.recentTaskIdArray.length==0}">-->
        <!--&lt;!&ndash;<i class="icon ion-coffee"></i>&ndash;&gt;-->
        <!--求助中-->
        <!--</button>-->
        <!--<button-->
        <!--class="bt-right ho-button button-theme button-gray button-outline ho-button-small min-width-60 bt-inactive"-->
        <!--ng-class="{'move-away': vm.self.tabFollow==1}">-->
        <!--&lt;!&ndash;<i class="icon ion-ios-checkmark-empty"></i>&ndash;&gt;-->
        <!--&lt;!&ndash;&nbsp已关注&ndash;&gt;-->
        <!--已互关注-->
        <!--</button>-->

        <!--<button class="right ho-button button-theme ho-button-small min-width-60 bt-active"-->
        <!--ng-class="{'move-away': vm.self.tabFollow==0}">-->
        <!--<i class="icon ion-ios-plus-empty"></i>-->
        <!--&nbsp关注-->
        <!--</button>-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</ion-item>-->


        <ion-item class="ho-item" ng-repeat="item in vm.self.repeatList" item-height="54px"
                  item-width="100%">
          <img class="avatar" ng-src="{{item.avatar}}"
               src="img/com/avatar-default.png"
               live-image on-click="vm.self.cb_gotoUser(item.userId)">

          <div class="content-long"
               ng-class="{'content-short':vm.self.tabFollow==0 && item.recentTaskIdArray.length>0,
                          'content-long': vm.self.tabFollow==1 || (vm.self.tabFollow==0&&item.recentTaskIdArray.length==0)}">
            <div class="line-1">
              <p class="name">
                {{item.nickname}}
              </p>

              <div class="gender" style="padding-left: 0;padding-right:0;">
								<span class="gender-icon  font-size-13"
                      ng-class="{true:'ho-gender-female color-woman',false:'ho-gender-male color-man '}[item.gender == 1]">
								</span>
              </div>
            </div>
            <!--<p class="name">-->
              <!--{{item.nickname}}-->
            <!--</p>-->

            <p class="desc">{{item.sign}}</p>
          </div>
          <!-- lkj:note: 这里不加vm.activeTab==1 多点几次会使ng-hide失效.不知道这坑是为啥...-->

          <button class="width-60 bt-right ho-button button-theme ho-button-small bt-active"
                  ng-if="item.ui_showFollow==true"
                  ng-click="vm.self.cb_follow($index)">
            <i class="icon ion-ios-plus-empty"></i>
            &nbsp关注
          </button>

          <button class="width-60 bt-left ho-button button-theme ho-button-small bt-active"
                  ng-if="item.ui_showNeedHelp==true"
                  ng-click="vm.self.cb_postList($index)">
            <!--<i class="icon ion-coffee"></i>-->
            求助中
          </button>

          <button
            class="width-60 bt-right ho-button button-theme button-gray button-outline ho-button-small bt-inactive"
            ng-disabled="vm.self.tabFollow==1"
            ng-if="item.ui_showHasFollow"
            ng-click="vm.self.cb_cancelFocus($index)">
            <!--<i class="icon ion-ios-checkmark-empty"></i>-->
            <!--&nbsp已关注-->
            {{item.isMutualAttention?'已互关注':'已关注'}}
          </button>
          <!-- -->
        </ion-item>

        <!--<ion-item class="ho-item" ng-repeat="item in vm.self.funsList" item-height="54px"-->
        <!--item-width="100%" ng-show="vm.self.tabFollow==1">-->
        <!--<img class="avatar" ng-src="{{item.avatar}}"-->
        <!--src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=4123988153,51280834&fm=58"-->
        <!--live-image>-->

        <!--<div class="content-long"-->
        <!--ng-class="{'content-short':vm.self.tabFollow==0 && item.recentTaskIdArray.length>0}">-->
        <!--<p class="name">{{item.nickname}}</p>-->

        <!--<p class="desc">{{item.sign}}</p>-->
        <!--</div>-->
        <!--&lt;!&ndash; lkj:note: 这里不加vm.activeTab==1 多点几次会使ng-hide失效.不知道这坑是为啥...&ndash;&gt;-->

        <!--<button class="right ho-button button-theme ho-button-small min-width-60 bt-active"-->
        <!--ng-if="vm.self.tabFollow==1">-->
        <!--<i class="icon ion-ios-plus-empty"></i>-->
        <!--&nbsp关注-->
        <!--</button>-->


        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</ion-item>-->

      </ion-list>

    </div>

  </ion-content>
</ion-view>
