<ion-view hide-nav-bar="true" class="me">
  <div class="nav row">
    <!--<div class="col-20 col-center text-center">-->
    <!--<button class="button button-icon icon ion-share"></button>-->
    <!--</div>-->
    <!--<div class="col-offset-10 col-40 col-center text-center">-->
    <!--<p class="name color-white">xi匿名</p>-->
    <!--</div>-->
    <!--<div class="col-offset-10 col-20 text-center">-->
    <!--<button class="button button-icon icon ion-share right"></button>-->
    <!--</div>-->

    <button class="col-20 button button-icon icon ion-share" ng-click="vm.edit()"></button>
    <p class="col-offset-10 col-40 col-center text-center name color-white">点到泥巴了</p>
    <button class="col-offset-10 col-20 button button-icon icon ion-share"></button>
  </div>

  <ion-content delegate-handle="meScroll">
    <div class="back-img" scale-top-bg></div>


    <div class="row mid">
      <div class="col-20 left text-center col-center">
        <button class="side-icon button button-icon ion-android-person-add"></button>
      </div>
      <div class="col-25 text-center">
        <img class="avatar" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=1226112392,1303867474&fm=58g"
             reset-img>
      </div>
      <!--<button class="col-20 right button button-icon ion-chatbubble-working"></button>-->
      <div class="col-20 text-center col-center">
        <i class="side-icon button button-icon ion-chatbubble-working" ng-click=""></i>
      </div>
    </div>

    <p class="sign text-center">我的征途是星辰大海</p>

    <ion-tabs class="tabs-striped padding-top">
      <!--<ion-tab title="自己" href="#/main/me/self" on-select="vm.onSelect(0)">-->
      <ion-tab title="自己" href="#/main/me/self" ng-click="vm.onChangeTab('main.me.self')">

        <ui-view style="position:relative;display:block" class="mid-nav-view" name="self" tab-logic ></ui-view>

      </ion-tab>
      <ion-tab title="伙伴" href="#/main/me/friend" ng-click="vm.onChangeTab('main.me.friend')">

        <ui-view style="position:relative;display:block" name="friend" tab-logic></ui-view>

      </ion-tab>
    </ion-tabs>


  </ion-content>
</ion-view>
