.color-white {
  color: #fff !important; }

.color-black {
  color: #000 !important; }

.color-man {
  color: #33cd5f; }

.color-woman {
  color: #F55E5E; }

.user-tag-color-0 {
  color: #F55E5E !important;
  background-color: #e8a3a5 !important; }

.user-tag-color-1 {
  color: #0a9dc7 !important;
  background-color: #a8e3e5 !important; }

.text-tag {
  padding: 0.2em !important;
  font-size: 11px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important; }

.button-light-red {
  border-color: #fed1ce;
  background-color: #ffeceb;
  color: #f97f58; }

.button-accept {
  display: inline-block;
  padding: 4px 30px;
  min-width: 42px;
  min-height: 16px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 15px; }

.nopadding {
  padding: 0 !important; }

.bottom-bordered {
  border-style: solid !important;
  border-bottom-width: 5px !important;
  border-bottom-color: #eeeeee !important; }

.topics {
  padding: 0; }
  .topics .content-left {
    text-align: center; }
    .topics .content-left .task-img {
      position: relative;
      top: 3px;
      width: 60px;
      height: 60px;
      border-radius: 30px; }
    .topics .content-left .task-type {
      padding: 8px 0;
      font-size: 12px;
      color: #333; }
  .topics .content-right .user-panel .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px; }
  .topics .content-right .user-panel .user-detail .top > p, .topics .content-right .user-panel .user-detail .top i {
    display: inline;
    position: relative; }
  .topics .content-right .user-panel .user-detail .top .elem {
    left: 4px; }
  .topics .content-right .user-panel .user-detail .top .elem2 {
    left: 8px; }
  .topics .content-right .user-panel .user-detail .top .time {
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: #bbb; }
  .topics .content-right .user-panel .user-detail .bottom .elem {
    display: inline;
    left: 10px; }
  .topics .content-right .user-panel ul li.tip {
    color: #5f9cc5; }
  .topics .content-right .summary-panel > p {
    padding: 2px 0 8px;
    white-space: pre-wrap; }
  .topics .content-right .summary-panel .appendix i, .topics .content-right .summary-panel .appendix p {
    display: inline; }
  .topics .content-right .summary-panel .appendix p {
    margin-left: 5px;
    font-size: 12px;
    color: #999; }
  .topics .content-right .summary-panel .appendix .deadline {
    color: #0a9dc7; }
  .topics .content-right .summary-panel .appendix .address {
    color: #eaae22;
    padding-left: 3px; }
  .topics .content-right .summary-panel .thank {
    display: inline;
    color: #EF7151; }
  .topics .content-right .summary-panel .thank-what {
    display: inline;
    color: #fff;
    background-color: #EF7151; }
  .topics .content-right .bottom-panel .count {
    display: inline-block;
    padding: 5px 30px 1px 5px;
    font-size: 14px;
    color: #999; }
  .topics .content-right .bottom-panel .right {
    position: absolute;
    right: 15px; }
  .topics .content-right .div-line {
    margin: 7px 10px 7px 0;
    width: 400px;
    height: 1px;
    background-color: #eeeeee; }

.me .nav {
  position: fixed;
  top: 0px;
  z-index: 999;
  padding: 20px 20px; }
  .me .nav .button {
    color: #ffffff; }
  .me .nav .name {
    margin-bottom: 0;
    font-size: 17px; }
.me .back-img {
  background-image: url(../img/main/me/wo-zi-bg@2x.png);
  position: fixed;
  width: 100%;
  height: 270px;
  z-index: -999; }
.me .mid {
  padding-top: 84px; }
  .me .mid .left {
    margin-left: 17%; }
  .me .mid .avatar {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff; }
  .me .mid .side-icon {
    color: #fff;
    transform-origin: center;
    -webkit-transform-origin: center;
    transform: scale(2);
    -webkit-transform: scale(2); }
.me .sign {
  padding-top: 10px;
  font-size: 15px;
  color: #fff; }
.me .tab-container {
  top: 160px; }
.me .tab-nav {
  position: relative; }
.me ion-tabs {
  display: block; }
.me .tab-item {
  max-width: 50%; }
  .me .tab-item.tab-item-active {
    border-color: #EF7151;
    border-bottom-width: 4px; }
  .me .tab-item span {
    font-size: 17px; }
.me .tab-panel {
  background: white !important; }

/*# sourceMappingURL=app.css.map */
