.five-stars {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .five-stars .star {
    -webkit-transform-origin: left center;
    transform-origin: left center;
    padding-right: 15px;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    color: #FF432F; }

.level-progress {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  width: 73%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center; }
  .level-progress .bg {
    height: 10px;
    width: 68%;
    border-radius: 5px;
    background-color: #e8e7ed; }
    .level-progress .bg .bar {
      position: inherit;
      border-radius: 5px;
      background-color: #ffd0ce;
      width: 50%;
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-direction: reverse;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .level-progress .bg .bar .level-badge-container {
        -webkit-align-self: center;
        -moz-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        position: relative; }
        .level-progress .bg .bar .level-badge-container .level-badge {
          background-color: white;
          border: 1px solid #ffd0ce;
          border-radius: 12px;
          position: relative;
          left: 12px;
          width: 24px;
          height: 24px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -moz-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          -moz-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          -moz-align-items: center;
          align-items: center; }
          .level-progress .bg .bar .level-badge-container .level-badge p {
            color: #ffd0ce;
            font-size: 13px; }
  .level-progress .label {
    color: #999;
    font-size: 14px; }

.color-theme {
  color: #FF432F !important; }

.color-white {
  color: #fff !important; }

.color-black {
  color: #000 !important; }

.color-olive-green {
  color: #81c03e; }

.bgcolor-theme {
  background-color: #FF432F !important; }

.color-man {
  color: #33cd5f; }

.color-woman {
  color: #F55E5E; }

.user-tag-color-0 {
  color: #F55E5E !important;
  background-color: #e8a3a5 !important; }

.user-tag-color-1 {
  color: #0a9dc7 !important;
  background-color: #a8e3e5 !important; }

.text-tag {
  padding: 0.2em !important;
  font-size: 11px !important;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  border-radius: 3px !important; }

.button-light-red {
  border-color: #ffd0ce;
  background-color: #ffeceb;
  color: #f78058; }

.button-accept {
  display: inline-block;
  padding: 4px 30px;
  min-width: 42px;
  min-height: 16px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 15px; }

.nopadding {
  padding: 0 !important; }

.bottom-bordered {
  border-style: solid !important;
  border-bottom-width: 5px !important;
  border-bottom-color: #eeeeee !important; }

.ho-list .header-icon-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  height: 40px;
  padding: 10px 0; }
  .ho-list .header-icon-title .side-icon {
    padding-left: 12px; }
  .ho-list .header-icon-title .title {
    padding-left: 10px;
    font-size: 17px;
    color: #323232; }
.ho-list .ho-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  text-align: center; }
  .ho-list .ho-item .title {
    position: relative;
    float: left;
    padding: 0 20px 0 17px;
    margin-bottom: 0;
    font-size: 17px;
    color: #323232; }
  .ho-list .ho-item .ho-item-content {
    font-size: 17px;
    color: #4f4f4f; }

.topics {
  padding: 0; }
  .topics .content-left {
    text-align: center; }
    .topics .content-left .task-img {
      position: relative;
      top: 3px;
      width: 60px;
      height: 60px;
      border-radius: 30px; }
    .topics .content-left .task-type {
      padding: 8px 0;
      font-size: 12px;
      color: #333; }
  .topics .content-right .user-panel .avatar {
    width: 40px;
    height: 40px;
    border-radius: 20px; }
  .topics .content-right .user-panel .user-detail .top > p, .topics .content-right .user-panel .user-detail .top i {
    display: inline;
    position: relative; }
  .topics .content-right .user-panel .user-detail .top .elem {
    left: 4px; }
  .topics .content-right .user-panel .user-detail .top .elem2 {
    left: 8px; }
  .topics .content-right .user-panel .user-detail .top .time {
    position: absolute;
    right: 0;
    margin-right: 10px;
    color: #bbb; }
  .topics .content-right .user-panel .user-detail .bottom .elem {
    display: inline;
    left: 10px; }
  .topics .content-right .user-panel ul li.tip {
    color: #5f9cc5; }
  .topics .content-right .summary-panel > p {
    padding: 2px 0 8px;
    white-space: pre-wrap; }
  .topics .content-right .summary-panel .appendix i, .topics .content-right .summary-panel .appendix p {
    display: inline; }
  .topics .content-right .summary-panel .appendix p {
    margin-left: 5px;
    font-size: 12px;
    color: #999; }
  .topics .content-right .summary-panel .appendix .deadline {
    color: #0a9dc7; }
  .topics .content-right .summary-panel .appendix .address {
    color: #eaae22;
    padding-left: 3px; }
  .topics .content-right .summary-panel .thank {
    display: inline;
    color: #FF432F; }
  .topics .content-right .summary-panel .thank-what {
    display: inline;
    color: #fff;
    background-color: #FF432F; }
  .topics .content-right .bottom-panel .count {
    display: inline-block;
    padding: 5px 30px 1px 5px;
    font-size: 14px;
    color: #999; }
  .topics .content-right .bottom-panel .right {
    position: absolute;
    right: 15px; }
  .topics .content-right .div-line {
    margin: 7px 10px 7px 0;
    width: 400px;
    height: 1px;
    background-color: #eeeeee; }

.me {
  background-color: #e8e7ed; }
  .me .nav {
    position: fixed;
    top: 0px;
    z-index: 999;
    padding: 20px 20px; }
    .me .nav .button {
      color: #ffffff; }
    .me .nav .name {
      margin-bottom: 0;
      font-size: 17px; }
  .me .back-img {
    background-image: url(../img/main/me/wo-zi-bg@2x.png);
    position: fixed;
    width: 100%;
    height: 230px;
    z-index: -999; }
  .me .mid {
    padding-top: 84px; }
    .me .mid .left {
      margin-left: 17%; }
    .me .mid .avatar {
      width: 70px;
      height: 70px;
      border-radius: 35px;
      border-style: solid;
      border-width: 1px;
      border-color: #fff; }
    .me .mid .side-icon {
      color: #fff;
      -webkit-transform-origin: center center;
      transform-origin: center center;
      -webkit-transform: scale(2);
      transform: scale(2); }
  .me .sign {
    padding-top: 10px;
    font-size: 15px;
    color: #fff; }
  .me .tab-container {
    top: 160px; }
  .me .tab-nav {
    position: relative; }
  .me ion-tabs {
    display: block; }
  .me .tab-item {
    max-width: 50%; }
    .me .tab-item.tab-item-active {
      border-color: #FF432F;
      border-bottom-width: 4px;
      border-top-width: 0;
      margin-top: 0; }
    .me .tab-item.activated {
      border-width: 0; }
    .me .tab-item span {
      font-size: 17px; }
  .me .tab-panel {
    margin-top: 10px;
    background: white !important; }
    .me .tab-panel .self .ho-list .ho-item:nth-child(n+1) {
      padding-top: 1px;
      padding-bottom: 1px;
      min-height: 54px; }
    .me .tab-panel .self .ho-list .belongings .me-card {
      padding-right: 4px;
      width: 64px;
      height: 28px; }
    .me .tab-panel .self .ho-list .belongings .count1 {
      padding-right: 20px;
      color: #00cdb0;
      font-size: 14px; }
    .me .tab-panel .self .ho-list .belongings .count2 {
      color: #f74400;
      font-size: 14px; }
    .me .tab-panel .self .ho-list .visitor .line-container {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      align-items: center;
      margin: 5px 0; }
      .me .tab-panel .self .ho-list .visitor .line-container .line {
        line-height: 0;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
        .me .tab-panel .self .ho-list .visitor .line-container .line .avatar {
          margin: 4px 10px 4px 0;
          width: 40px;
          height: 40px;
          border-radius: 20px; }

.color-task-publish {
  background-color: #efeff4; }

.task-publish-default {
  /*background-color:#efeff4*/ }
  .task-publish-default .button-full {
    border-radius: 10px;
    background-color: #e6e6e6; }

.task-group-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-border-radius: 4px;
  background: #fff;
  margin-bottom: 10px; }
  .task-group-wrapper .no-border {
    border-style: none; }
  .task-group-wrapper .left-align {
    margin-left: 5%; }
  .task-group-wrapper .group-item {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    z-index: 2;
    padding: 2px;
    font-size: 0.8em;
    /*height:3em;*/ }
    .task-group-wrapper .group-item > * {
      align-items: center;
      font-size: 0.8em; }
    .task-group-wrapper .group-item .icon {
      max-width: 20px;
      max-height: 30px; }
    .task-group-wrapper .group-item > .no-border {
      border-style: none; }
  .task-group-wrapper .group-item-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    position: relative;
    overflow: hidden; }
    .task-group-wrapper .group-item-input input, .task-group-wrapper .group-item-input p, .task-group-wrapper .group-item-input a {
      -webkit-border-radius: 0;
      border-radius: 0;
      -webkit-box-flex: 1;
      -webkit-flex: 1 220px;
      -moz-box-flex: 1;
      -moz-flex: 1 220px;
      -ms-flex: 1 220px;
      flex: 1 220px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      margin: 0;
      padding-right: 24px;
      padding-left: 5px;
      background-color: transparent;
      height: 2em; }
  .task-group-wrapper .split {
    border-bottom: 1px solid #ddd;
    margin-top: 2px;
    margin-bottom: 2px; }
  .task-group-wrapper .high-light {
    background-color: #ffedea; }
  .task-group-wrapper .button-default {
    background-color: #f5f5f5; }
  .task-group-wrapper .button {
    border-radius: 30px;
    margin: 4px;
    text-align: center; }
  .task-group-wrapper .button-select-subtype {
    background-color: #ffeceb;
    color: #f78058; }
  .task-group-wrapper textarea {
    border: none;
    width: 100%;
    height: 5em; }
  .task-group-wrapper .reward-header {
    height: 1.8em;
    text-align: left;
    font-size: 1em; }

.select-subtype {
  background-color: #f0f0f0; }
  .select-subtype .item {
    padding: 0 16px;
    margin: 0; }
  .select-subtype .no-border, .select-subtype .list {
    border: none;
    background-color: #f0f0f0; }
  .select-subtype .cancel {
    background-color: #B3B3B3; }
  .select-subtype button {
    border-radius: 4px;
    color: white;
    height: 3em; }
  .select-subtype .pop-button {
    background-color: cornflowerblue;
    color: white; }

.select-subtype-header {
  width: 100%; }
  .select-subtype-header > h1 {
    margin-top: 0.5em;
    text-align: center;
    color: cornflowerblue;
    font-size: 1.5em; }
  .select-subtype-header > p {
    text-align: center;
    color: #A7A7A7; }

/*# sourceMappingURL=app.css.map */
