@charset "UTF-8";
/*!
  hoicons, v1.0.0
  add by lkj.
  follow : http://wenku.baidu.com/link?url=mNTaYmk3r_-ijnYatTLSoHwuQ6Hiz6sIMnkGUgylbPJ0TCwSM002tz5UShBto6aTJAnhMLaLHAFdQFvTAGA8VDj9AulkHEMUEm5Ysqc1ksK
  using: https://icomoon.io/app/#/select  to create font files
*/
@font-face {
  font-family: "Hoicons";
  src: url("../fonts/Hoicons.eot?v=1.0.3");
  src: url("../fonts/Hoicons.eot?v=1.0.3#iefix") format("embedded-opentype"), url("../fonts/Hoicons.ttf?v=1.0.3") format("truetype"), url("../fonts/Hoicons.woff?v=1.0.3") format("woff"), url("../fonts/Hoicons.woff") format("woff"), url("../fonts/Hoicons.svg?v=1.0.3#Hoicons") format("svg");
  font-weight: normal;
  font-style: normal; }

.ion, .ho-me-on:before,
.ho-me:before,
.ho-chat-0:before,
.ho-share:before,
.ho-location:before,
.ho-chat-1:before,
.ho-chat-2:before,
.ho-gender-female:before,
.ho-gender-male:before,
.ho-discover:before,
.ho-rmb-on:before,
.ho-who:before,
.ho-head-1:before,
.ho-head-2:before,
.ho-orz:before,
.ho-graduation-cap:before,
.ho-gender-both:before,
.ho-person:before,
.ho-add-on:before,
.ho-task:before,
.ho-edit:before,
.ho-task-wait-overtime:before,
.ho-task-going:before,
.ho-task-unfinish:before,
.ho-task-finish:before,
.ho-task-wait:before,
.ho-task-confirm-wait:before,
.ho-task-giveup:before,
.ho-task-going-overtime:before,
.ho-task-remark:before {
  display: inline-block;
  font-family: "Hoicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.ho-me-on:before {
  content: ""; }

.ho-me:before {
  content: ""; }

.ho-chat-0:before {
  content: ""; }

.ho-share:before {
  content: ""; }

.ho-location:before {
  content: ""; }

.ho-chat-1:before {
  content: ""; }

.ho-chat-2:before {
  content: ""; }

.ho-gender-female:before {
  content: ""; }

.ho-gender-male:before {
  content: ""; }

.ho-discover:before {
  content: ""; }

.ho-rmb-on:before {
  content: ""; }

.ho-who:before {
  content: ""; }

.ho-head-1:before {
  content: ""; }

.ho-head-2:before {
  content: ""; }

.ho-orz:before {
  content: ""; }

.ho-graduation-cap:before {
  content: ""; }

.ho-gender-both:before {
  content: ""; }

.ho-person:before {
  content: ""; }

.ho-add-on:before {
  content: ""; }

.ho-task:before {
  content: ""; }

.ho-edit:before {
  content: ""; }

.ho-task-wait-overtime:before {
  content: ""; }

.ho-task-going:before {
  content: ""; }

.ho-task-unfinish:before {
  content: ""; }

.ho-task-finish:before {
  content: ""; }

.ho-task-wait:before {
  content: ""; }

.ho-task-confirm-wait:before {
  content: ""; }

.ho-task-giveup:before {
  content: ""; }

.ho-task-going-overtime:before {
  content: ""; }

.ho-task-remark:before {
  content: ""; }
